In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, SessionNotCreatedException

import time
import warnings
import pandas as pd
warnings.filterwarnings("ignore")

### Using Selenium

In [2]:
driver=webdriver.Edge(r"C:\Users\jitsa\Downloads\edgedriver(2)\msedgedriver.exe")
driver.get("https://www.cars24.com")

In [3]:
def search_car24():
    user=driver.find_element(By.XPATH,'//*[@id="react-select-2-input"]')
    u_search=str(input("Enter the search With location "))
    user.send_keys(u_search)
    
    #Submit Query
    search=driver.find_element(By.XPATH,'//span[@class="_1Aa4N"]')
    search.click()
    
search_car24()

Enter the search With location Delhi

In [4]:
# scrolling page to max

for i in range(20):
    driver.execute_script("window.scrollBy(0,2000)")
    
    time.sleep(2)

In [5]:
url=[]

for i in driver.find_elements(By.XPATH,'//div[@class="col-4"]/a'):
    url.append(i.get_attribute('href'))
    
len(url)

563

# Parameters

- Brand, model, variant, manufacturing year, driven kilometers, fuel, number of owners, location and last target variable Price

In [6]:
Brand=[]
Model=[]
Varient=[]
Make_year=[]
K_meter=[]
F_type=[]
Owner=[]
Location=[]
Price=[]


for url in url:
    driver.get(url)
    time.sleep(2)
    
# Brand name
    try:
        brand = driver.find_element(By.XPATH,'//li[@class="breadcrumb-item"]/a')
        Brand.append(brand.text.strip())
    except NoSuchElementException:
        Brand.append("-")
        
# Model
    try:
        m=driver.find_element(By.XPATH,'//h2[@class="_2geSF"]')
        Model.append((m.text.split()[2]))
    except NoSuchElementException:
        Model.append('-')
        
# Varient 
    try:
        var=driver.find_element(By.XPATH,'//span[@class="_18vo2"]')
        Varient.append(var.text.strip())
    except NoSuchElementException:
        Varient.append('-')
        
# Make year
    try:
        mk=driver.find_element(By.XPATH,'//ul[@class="_3oLON"]/li[5]')
        Make_year.append(mk.text.split()[0])
    except NoSuchElementException:
        Make_year.append('-')
        
#-------------------------------------------------------------------------------------------------------------------------------
    
# Fuel Type
    try:
        ft= driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[3]')
        F_type.append(ft.text.strip())
    except NoSuchElementException:
        F_type.append("-")
        
# Kilo Meter
    try:
        km=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[1]')
        K_meter.append(km.text.strip())
    except NoSuchElementException:
        k_meter.append('-')
        
# Owner
    try:
        o=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[5]')
        Owner.append(o.text.strip())
    except NoSuchElementException:
        Owner.append('-')
        
# Location
    try:
        l=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[7]')
        Location.append(l.text.strip())
    except NoSuchElementException:
        Location.append('-')
        
# Price
    try:
        p=driver.find_element(By.XPATH,'//ul[@class="_10Etm"]/li[1]/span[2]')
        Price.append(p.text.strip("â‚¹"))
    except NoSuchElementException:
        Price.append('-')
        
    
    time.sleep(1)

In [7]:
print("Brand",len(Brand),"Model",len(Model),"Varient",len(Varient),"Year",len(Make_year),"Kilometer",len(K_meter),"Fuel",len(F_type),"Owner",len(Owner),"Location",len(Location),"Price",len(Price))

Brand 563 Model 563 Varient 563 Year 563 Kilometer 563 Fuel 563 Owner 563 Location 563 Price 563

In [8]:
df=pd.DataFrame(data={"Brand":Brand,"Model":Model,
                      "Varient":Varient,"Make_Year":Make_year,
                      "Kilometer":K_meter,"Fuel_Type":F_type,
                      "Owners":Owner, "Location":Location,"Price":Price})

In [9]:
df.head()

,Brand,Model,Varient,Make_Year,Kilometer,Fuel_Type,Owners,Location,Price
0,Toyota,YARIS,J MT MANUAL,2021,"8,461 km",Petrol,1st Owner,DL-10,"10,84,099"
1,Kia,CARENS,LUXURY 1.4G MT 7STR,2022,"1,925 km",Petrol,1st Owner,HR-98,"16,66,999"
2,Toyota,YARIS,J CVT AUTOMATIC,2020,"9,256 km",Petrol,2nd Owner,DL-3C,"9,82,299"
3,Toyota,YARIS,G CVT AUTOMATIC,2020,"45,047 km",Petrol,1st Owner,HR-26,"9,69,299"
4,Mercedes Benz,Benz,C 200 AVANTGARDE AUTOMATIC,2014,"37,838 km",Petrol,1st Owner,UP-16,"19,29,699"

In [11]:
df.to_csv('delhi.csv', sep =',')

In [12]:
driver.close()

# Bangalore Location

In [13]:
driver=webdriver.Edge(r"C:\Users\jitsa\Downloads\edgedriver(2)\msedgedriver.exe")
driver.get("https://www.cars24.com")
search_car24()

In [14]:
search_car24()

Enter the search With location old cars bangalore

In [15]:
# scrolling page to max
for i in range(20):
    driver.execute_script("window.scrollBy(0,1000)")
    
    time.sleep(5)

In [16]:
url2=[]

for i in driver.find_elements(By.XPATH,'//div[@class="col-4"]/a'):
    url2.append(i.get_attribute('href'))
    
len(url2)

# https://www.cars24.com/buy-used-car?sort=P&search=Old%20cars%20Bangalore&storeCityId=4709&pinId=560001

823

In [17]:
Brand2=[]
Model2=[]
Varient2=[]
Make_year2=[]
K_meter2=[]
F_type2=[]
Owner2=[]
Location2=[]
Price2=[]


for url in url2:
    driver.get(url)
    time.sleep(3)
    
    #Brand name
    try:
        brand = driver.find_element(By.XPATH,'//li[@class="breadcrumb-item"]/a')
        Brand2.append(brand.text.strip(" "))
    except NoSuchElementException:
        Brand2.append("-")
        
   # Model
    try:
        m=driver.find_element(By.XPATH,'//h2[@class="_2geSF"]')
        Model2.append(m.text.split()[2])
    except NoSuchElementException:
        Model2.append('-')
        
     # Varient 
    try:
        var=driver.find_element(By.XPATH,'//span[@class="_18vo2"]')
        Varient2.append(var.text.strip(" "))
    except NoSuchElementException:
        Varient2.append('-')
        
    #Make year
    try:
        mk=driver.find_element(By.XPATH,'//ul[@class="_3oLON"]/li[5]')
        Make_year2.append(mk.text.split()[0])
    except NoSuchElementException:
        Make_year2.append('-')
        
        
    # Fuel Type
    try:
        ft= driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[3]')
        F_type2.append(ft.text.strip(" "))
    except NoSuchElementException:
        F_type2.append("-")
        
   # Kilo Meter
    try:
        km=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[1]')
        K_meter2.append(km.text.strip(""))
    except NoSuchElementException:
        k_meter2.append('-')
        
     # Owner
    try:
        o=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[5]')
        Owner2.append(o.text.strip(""))
    except NoSuchElementException:
        Owner2.append('-')
        
    # Location
    try:
        l=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[7]')
        Location2.append(l.text.strip(" "))
    except NoSuchElementException:
        Location2.append('-')
        
    # Price
    try:
        p=driver.find_element(By.XPATH,'//ul[@class="_10Etm"]/li[1]/span[2]')
        Price2.append(p.text.strip("â‚¹"))
    except NoSuchElementException:
        Price2.append('-')
        
    
    time.sleep(2)

In [ ]:
print("Brand\n",Brand,"\n","\nModel",Model,"\n","\nVarient",Varient,"\n","\nMake_year",Make_year,"\n","\n K_meter",K_meter,"\n",
      "\nFuel",F_type,"\n ",'\nOwner',Owner,"\n","\nLoc",Location,"\n","\nPrice",Price,"\n")

print("Brand\n",Brand2,"\n","\nModel",Model2,"\n","\nVarient",Varient2,"\n","\nMake_year",Make_year2,"\n","\n K_meter",K_meter2,"\n",
      "\nFuel",F_type2,"\n ",'\nOwner',Owner2,"\n","\nLoc",Location2,"\n","\nPrice",Price2,"\n")

In [18]:
print("Brand",len(Brand2),"Model",len(Model2),"Varient",len(Varient2),"Year",len(Make_year2),"Kilometer",len(K_meter2),"Fuel",len(F_type2),"Owner",len(Owner2),"Location",len(Location2),"Price",len(Price2))

Brand 823 Model 823 Varient 823 Year 823 Kilometer 823 Fuel 823 Owner 823 Location 823 Price 823

In [19]:
d1=pd.DataFrame(data={"Brand":Brand2,"Model":Model2,
                      "Varient":Varient2,"Make_Year":Make_year2,
                      "Kilometer":K_meter2,"Fuel_Type":F_type2,
                      "Owners":Owner2, "Location":Location2,"Price":Price2})
d1.head(5)

,Brand,Model,Varient,Make_Year,Kilometer,Fuel_Type,Owners,Location,Price
0,Toyota,YARIS,G CVT AUTOMATIC,2018,"33,620 km",Petrol,2nd Owner,KA-03,"9,45,099"
1,Toyota,YARIS,V CVT AUTOMATIC,2018,"23,337 km",Petrol,1st Owner,KA-05,"11,01,899"
2,Toyota,YARIS,J MT MANUAL,2018,"24,599 km",Petrol,1st Owner,KA-01,"9,05,899"
3,Toyota,YARIS,VX CVT AUTOMATIC,2018,"29,417 km",Petrol,2nd Owner,KA-22,"9,81,499"
4,Honda,CRV,2.0 2WD AT AUTOMATIC,2016,"67,610 km",Petrol,2nd Owner,KA-53,"14,50,199"

In [20]:
d1.to_csv('Bangalore.csv')

In [22]:
driver.close()

KeyboardInterrupt:

# MUMBAI

In [24]:
driver=webdriver.Edge(r"C:\Users\jitsa\Downloads\edgedriver(2)\msedgedriver.exe")
driver.get("https://www.cars24.com")

In [25]:
def search_car24():
    user=driver.find_element(By.XPATH,'//*[@id="react-select-2-input"]')
    u_search=str(input("Enter the search With location "))
    user.send_keys(u_search)
    
    #Submit Query
    search=driver.find_element(By.XPATH,'//span[@class="_1Aa4N"]')
    search.click()
    
search_car24()

Enter the search With location old cars mumbai

In [27]:
# scrolling page to max
for i in range(20):
    driver.execute_script("window.scrollBy(0,5000)")
    
    time.sleep(5)

In [28]:
url2=[]

for i in driver.find_elements(By.XPATH,'//div[@class="col-4"]/a'):
    url2.append(i.get_attribute('href'))
    
len(url2)

479

In [29]:
Brand2=[]
Model2=[]
Varient2=[]
Make_year2=[]
K_meter2=[]
F_type2=[]
Owner2=[]
Location2=[]
Price2=[]


for url in url2:
    driver.get(url)
    time.sleep(3)
    
    #Brand name
    try:
        brand = driver.find_element(By.XPATH,'//li[@class="breadcrumb-item"]/a')
        Brand2.append(brand.text.strip(" "))
    except NoSuchElementException:
        Brand2.append("-")
        
   # Model
    try:
        m=driver.find_element(By.XPATH,'//h2[@class="_2geSF"]')
        Model2.append(m.text.split()[2])
    except NoSuchElementException:
        Model2.append('-')
        
     # Varient 
    try:
        var=driver.find_element(By.XPATH,'//span[@class="_18vo2"]')
        Varient2.append(var.text.strip(" "))
    except NoSuchElementException:
        Varient2.append('-')
        
    #Make year
    try:
        mk=driver.find_element(By.XPATH,'//ul[@class="_3oLON"]/li[5]')
        Make_year2.append(mk.text.split()[0])
    except NoSuchElementException:
        Make_year2.append('-')
        
        
    # Fuel Type
    try:
        ft= driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[3]')
        F_type2.append(ft.text.strip(" "))
    except NoSuchElementException:
        F_type2.append("-")
        
   # Kilo Meter
    try:
        km=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[1]')
        K_meter2.append(km.text.strip(""))
    except NoSuchElementException:
        k_meter2.append('-')
        
     # Owner
    try:
        o=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[5]')
        Owner2.append(o.text.strip(""))
    except NoSuchElementException:
        Owner2.append('-')
        
    # Location
    try:
        l=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[7]')
        Location2.append(l.text.strip(" "))
    except NoSuchElementException:
        Location2.append('-')
        
    # Price
    try:
        p=driver.find_element(By.XPATH,'//ul[@class="_10Etm"]/li[1]/span[2]')
        Price2.append(p.text.strip("â‚¹"))
    except NoSuchElementException:
        Price2.append('-')
        
    
    time.sleep(1)

In [30]:
print("Brand",len(Brand2),"Model",len(Model2),"Varient",len(Varient2),"Year",len(Make_year2),"Kilometer",len(K_meter2),"Fuel",len(F_type2),"Owner",len(Owner2),"Location",len(Location2),"Price",len(Price2))

Brand 479 Model 479 Varient 479 Year 479 Kilometer 479 Fuel 479 Owner 479 Location 479 Price 479

In [31]:
d1=pd.DataFrame(data={"Brand":Brand2,"Model":Model2,
                      "Varient":Varient2,"Make_Year":Make_year2,
                      "Kilometer":K_meter2,"Fuel_Type":F_type2,
                      "Owners":Owner2, "Location":Location2,"Price":Price2})
d1.head(5)

,Brand,Model,Varient,Make_Year,Kilometer,Fuel_Type,Owners,Location,Price
0,Hyundai,i10,ASTA 1.2 WITH SUNROOF MANUAL,2010,"15,789 km",Petrol,1st Owner,MH-02,"2,25,199"
1,Hyundai,Santro,GLS MANUAL,2011,"47,979 km",Petrol,2nd Owner,MH-04,"1,87,599"
2,Maruti,Ertiga,VXI CNG MANUAL,2022,"11,185 km",Petrol + CNG,1st Owner,MH-47,"12,11,299"
3,Hyundai,i10,MAGNA 1.1 IRDE2 MANUAL,2012,"81,483 km",Petrol,1st Owner,MH-04,"2,36,599"
4,Honda,City,V MT PETROL MANUAL,2010,"46,821 km",Petrol,2nd Owner,MH-02,"2,85,099"

In [32]:
d1.to_csv("Mumbai.csv")

In [33]:
driver.close()

# Pune

In [59]:
driver=webdriver.Edge(r"C:\Users\jitsa\Downloads\edgedriver(2)\msedgedriver.exe")
driver.get("https://www.cars24.com")

In [60]:
def search_car24():
    user=driver.find_element(By.XPATH,'//*[@id="react-select-2-input"]')
    u_search=str(input("Enter the search With location "))
    user.send_keys(u_search)
    
    #Submit Query
    search=driver.find_element(By.XPATH,'//span[@class="_1Aa4N"]')
    search.click()
    
search_car24()

Enter the search With location old cars Pune

In [61]:
# scrolling page to max
for i in range(30):
    driver.execute_script("window.scrollBy(0,3000)")
    
    time.sleep(5)

In [62]:
url2=[]

for i in driver.find_elements(By.XPATH,'//div[@class="col-4"]/a'):
    url2.append(i.get_attribute('href'))
    
len(url2)

390

In [63]:
Brand2=[]
Model2=[]
Varient2=[]
Make_year2=[]
K_meter2=[]
F_type2=[]
Owner2=[]
Location2=[]
Price2=[]


for url in url2:
    driver.get(url)
    time.sleep(3)
    
    #Brand name
    try:
        brand = driver.find_element(By.XPATH,'//li[@class="breadcrumb-item"]/a')
        Brand2.append(brand.text.strip(" "))
    except NoSuchElementException:
        Brand2.append("-")
        
   # Model
    try:
        m=driver.find_element(By.XPATH,'//h2[@class="_2geSF"]')
        Model2.append(m.text.split()[2])
    except NoSuchElementException:
        Model2.append('-')
        
     # Varient 
    try:
        var=driver.find_element(By.XPATH,'//span[@class="_18vo2"]')
        Varient2.append(var.text.strip(" "))
    except NoSuchElementException:
        Varient2.append('-')
        
    #Make year
    try:
        mk=driver.find_element(By.XPATH,'//ul[@class="_3oLON"]/li[5]')
        Make_year2.append(mk.text.split()[0])
    except NoSuchElementException:
        Make_year2.append('-')
        
        
    # Fuel Type
    try:
        ft= driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[3]')
        F_type2.append(ft.text.strip(" "))
    except NoSuchElementException:
        F_type2.append("-")
        
   # Kilo Meter
    try:
        km=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[1]')
        K_meter2.append(km.text.strip(""))
    except NoSuchElementException:
        k_meter2.append('-')
        
     # Owner
    try:
        o=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[5]')
        Owner2.append(o.text.strip(""))
    except NoSuchElementException:
        Owner2.append('-')
        
    # Location
    try:
        l=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[7]')
        Location2.append(l.text.strip(" "))
    except NoSuchElementException:
        Location2.append('-')
        
    # Price
    try:
        p=driver.find_element(By.XPATH,'//ul[@class="_10Etm"]/li[1]/span[2]')
        Price2.append(p.text.strip("â‚¹"))
    except NoSuchElementException:
        Price2.append('-')
        
    
    time.sleep(1)

In [64]:
print("Brand",len(Brand2),"Model",len(Model2),"Varient",len(Varient2),"Year",len(Make_year2),"Kilometer",len(K_meter2),"Fuel",len(F_type2),"Owner",len(Owner2),"Location",len(Location2),"Price",len(Price2))

Brand 390 Model 390 Varient 390 Year 390 Kilometer 390 Fuel 390 Owner 390 Location 390 Price 390

In [65]:
d2=pd.DataFrame(data={"Brand":Brand2,"Model":Model2,
                      "Varient":Varient2,"Make_Year":Make_year2,
                      "Kilometer":K_meter2,"Fuel_Type":F_type2,
                      "Owners":Owner2, "Location":Location2,"Price":Price2})
d2.head(5)

,Brand,Model,Varient,Make_Year,Kilometer,Fuel_Type,Owners,Location,Price
0,Tata,PUNCH,CREATIVE MT,2021,"19,036 km",Petrol,1st Owner,MH-12,"8,36,199"
1,Tata,PUNCH,ACCOMPLISHED MT,2022,"1,426 km",Petrol,1st Owner,MH-14,"8,46,799"
2,Toyota,YARIS,VX CVT AUTOMATIC,2019,"60,520 km",Petrol,1st Owner,MH-12,"9,40,699"
3,Toyota,YARIS,VX CVT AUTOMATIC,2018,"52,925 km",Petrol,1st Owner,MH-12,"9,65,099"
4,Toyota,YARIS,J MT MANUAL,2019,"49,120 km",Petrol,1st Owner,MH-01,"7,52,499"

In [66]:
d2.to_csv("Pune.csv",sep=",")

driver.close()

# Kolkata

In [76]:
driver=webdriver.Edge(r"C:\Users\jitsa\Downloads\edgedriver(2)\msedgedriver.exe")
driver.get("https://www.cars24.com")

In [77]:
def search_car24():
    user=driver.find_element(By.XPATH,'//*[@id="react-select-2-input"]')
    u_search=str(input("Enter the search With location "))
    user.send_keys(u_search)
    
    #Submit Query
    search=driver.find_element(By.XPATH,'//span[@class="_1Aa4N"]')
    search.click()
    
search_car24()

Enter the search With location cars kolkata

In [78]:
# scrolling page to max
for i in range(20):
    driver.execute_script("window.scrollBy(0,5000)")
    
    time.sleep(2)

In [79]:
# scrolling page to max
for i in range(20):
    driver.execute_script("window.scrollBy(0,5000)")
    
    time.sleep(2)

# fetching urls    
urls=[]

for i in driver.find_elements(By.XPATH,'//div[@class="col-4"]/a'):
    urls.append(i.get_attribute('href'))
    
len(urls)

236

In [80]:
Brand2=[]
Model2=[]
Varient2=[]
Make_year2=[]
K_meter2=[]
F_type2=[]
Owner2=[]
Location2=[]
Price2=[]


for url in urls:
    driver.get(url)
    time.sleep(3)
    
    #Brand name
    try:
        brand = driver.find_element(By.XPATH,'//li[@class="breadcrumb-item"]/a')
        Brand2.append(brand.text.strip(" "))
    except NoSuchElementException:
        Brand2.append("-")
        
   # Model
    try:
        m=driver.find_element(By.XPATH,'//h2[@class="_2geSF"]')
        Model2.append(m.text.split()[2])
    except NoSuchElementException:
        Model2.append('-')
        
     # Varient 
    try:
        var=driver.find_element(By.XPATH,'//span[@class="_18vo2"]')
        Varient2.append(var.text.strip(" "))
    except NoSuchElementException:
        Varient2.append('-')
        
    #Make year
    try:
        mk=driver.find_element(By.XPATH,'//ul[@class="_3oLON"]/li[5]')
        Make_year2.append(mk.text.split()[0])
    except NoSuchElementException:
        Make_year2.append('-')
        
        
    # Fuel Type
    try:
        ft= driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[3]')
        F_type2.append(ft.text.strip(" "))
    except NoSuchElementException:
        F_type2.append("-")
        
   # Kilo Meter
    try:
        km=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[1]')
        K_meter2.append(km.text.strip(""))
    except NoSuchElementException:
        k_meter2.append('-')
        
     # Owner
    try:
        o=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[5]')
        Owner2.append(o.text.strip(""))
    except NoSuchElementException:
        Owner2.append('-')
        
    # Location
    try:
        l=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[7]')
        Location2.append(l.text.strip(" "))
    except NoSuchElementException:
        Location2.append('-')
        
    # Price
    try:
        p=driver.find_element(By.XPATH,'//ul[@class="_10Etm"]/li[1]/span[2]')
        Price2.append(p.text.strip("â‚¹"))
    except NoSuchElementException:
        Price2.append('-')
        
    
    time.sleep(1)

In [81]:
print("Brand",len(Brand2),"Model",len(Model2),"Varient",len(Varient2),"Year",len(Make_year2),"Kilometer",len(K_meter2),"Fuel",len(F_type2),"Owner",len(Owner2),"Location",len(Location2),"Price",len(Price2))

Brand 236 Model 236 Varient 236 Year 236 Kilometer 236 Fuel 236 Owner 236 Location 236 Price 236

In [82]:
d3=pd.DataFrame(data={"Brand":Brand2,"Model":Model2,
                      "Varient":Varient2,"Make_Year":Make_year2,
                      "Kilometer":K_meter2,"Fuel_Type":F_type2,
                      "Owners":Owner2, "Location":Location2,"Price":Price2})
d3.head(5)

,Brand,Model,Varient,Make_Year,Kilometer,Fuel_Type,Owners,Location,Price
0,Maruti,Ertiga,VXI ABS MANUAL,2017,"52,930 km",Petrol,1st Owner,WB-24,"6,88,199"
1,Maruti,Dzire,ZXI MANUAL,2019,"8,085 km",Petrol,1st Owner,WB-26,"6,62,199"
2,Ford,Ecosport,1.5 TITANIUM PLUS TI VCT AT AUTOMATIC,2019,"7,277 km",Petrol,1st Owner,WB-26,"9,80,999"
3,Hyundai,GRAND,ASTA PETROL AMT AUTOMATIC,2021,"3,834 km",Petrol,1st Owner,WB-10,"7,51,199"
4,Hyundai,Grand,SPORTZ 1.2 KAPPA VTVT MANUAL,2014,"88,942 km",Petrol,2nd Owner,WB-02,"3,45,699"

In [84]:
d3.to_csv ("kolkata.csv")

In [85]:
driver.close()

# NOIDA

In [86]:
driver=webdriver.Edge(r"C:\Users\jitsa\Downloads\edgedriver(2)\msedgedriver.exe")
driver.get("https://www.cars24.com")

In [87]:
def search_car24():
    user=driver.find_element(By.XPATH,'//*[@id="react-select-2-input"]')
    u_search=str(input("Enter the search With location "))
    user.send_keys(u_search)
    
    #Submit Query
    search=driver.find_element(By.XPATH,'//span[@class="_1Aa4N"]')
    search.click()
    
search_car24()

Enter the search With location Noida

In [89]:
# scrolling page to max
for i in range(20):
    driver.execute_script("window.scrollBy(0,5000)")
    
    time.sleep(2)

# fetching urls    
urls=[]

for i in driver.find_elements(By.XPATH,'//div[@class="col-4"]/a'):
    urls.append(i.get_attribute('href'))
    
len(urls)

911

In [90]:
Brand2=[]
Model2=[]
Varient2=[]
Make_year2=[]
K_meter2=[]
F_type2=[]
Owner2=[]
Location2=[]
Price2=[]


for url in urls:
    driver.get(url)
    time.sleep(3)
    
    #Brand name
    try:
        brand = driver.find_element(By.XPATH,'//li[@class="breadcrumb-item"]/a')
        Brand2.append(brand.text.strip(" "))
    except NoSuchElementException:
        Brand2.append("-")
        
   # Model
    try:
        m=driver.find_element(By.XPATH,'//h2[@class="_2geSF"]')
        Model2.append(m.text.split()[2])
    except NoSuchElementException:
        Model2.append('-')
        
     # Varient 
    try:
        var=driver.find_element(By.XPATH,'//span[@class="_18vo2"]')
        Varient2.append(var.text.strip(" "))
    except NoSuchElementException:
        Varient2.append('-')
        
    #Make year
    try:
        mk=driver.find_element(By.XPATH,'//ul[@class="_3oLON"]/li[5]')
        Make_year2.append(mk.text.split()[0])
    except NoSuchElementException:
        Make_year2.append('-')
        
        
    # Fuel Type
    try:
        ft= driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[3]')
        F_type2.append(ft.text.strip(" "))
    except NoSuchElementException:
        F_type2.append("-")
        
   # Kilo Meter
    try:
        km=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[1]')
        K_meter2.append(km.text.strip(""))
    except NoSuchElementException:
        k_meter2.append('-')
        
     # Owner
    try:
        o=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[5]')
        Owner2.append(o.text.strip(""))
    except NoSuchElementException:
        Owner2.append('-')
        
    # Location
    try:
        l=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[7]')
        Location2.append(l.text.strip(" "))
    except NoSuchElementException:
        Location2.append('-')
        
    # Price
    try:
        p=driver.find_element(By.XPATH,'//ul[@class="_10Etm"]/li[1]/span[2]')
        Price2.append(p.text.strip("â‚¹"))
    except NoSuchElementException:
        Price2.append('-')
        
    
    time.sleep(1)

In [91]:
print("Brand",len(Brand2),"Model",len(Model2),"Varient",len(Varient2),"Year",len(Make_year2),"Kilometer",len(K_meter2),"Fuel",len(F_type2),"Owner",len(Owner2),"Location",len(Location2),"Price",len(Price2))

Brand 911 Model 911 Varient 911 Year 911 Kilometer 911 Fuel 911 Owner 911 Location 911 Price 911

In [92]:
d4=pd.DataFrame(data={"Brand":Brand2,"Model":Model2,
                      "Varient":Varient2,"Make_Year":Make_year2,
                      "Kilometer":K_meter2,"Fuel_Type":F_type2,
                      "Owners":Owner2, "Location":Location2,"Price":Price2})
d4.head(5)

,Brand,Model,Varient,Make_Year,Kilometer,Fuel_Type,Owners,Location,Price
0,Hyundai,Grand,MAGNA 1.2 VTVT MANUAL,2020,"6,470 km",Petrol,1st Owner,UP-14,"6,08,399"
1,Hyundai,i10,MAGNA 1.2 KAPPA2 MANUAL,2011,"45,437 km",Petrol,1st Owner,HR-26,"2,79,399"
2,Hyundai,Grand,SPORTZ 1.2 KAPPA VTVT MANUAL,2014,"11,855 km",Petrol,3rd Owner,DL-9C,"3,83,399"
3,Maruti,Wagon,VXI MANUAL,2011,"47,706 km",Petrol,2nd Owner,HR-26,"2,69,999"
4,Hyundai,i10,MAGNA 1.2 KAPPA2 MANUAL,2012,"21,379 km",Petrol,2nd Owner,DL-4C,"2,44,199"

In [94]:
d4.to_csv("noida.csv")

In [95]:
driver.close()

# CHENNAI

In [96]:
driver=webdriver.Edge(r"C:\Users\jitsa\Downloads\edgedriver(2)\msedgedriver.exe")
driver.get("https://www.cars24.com")

In [97]:
def search_car24():
    user=driver.find_element(By.XPATH,'//*[@id="react-select-2-input"]')
    u_search=str(input("Enter the search With location "))
    user.send_keys(u_search)
    
    #Submit Query
    search=driver.find_element(By.XPATH,'//span[@class="_1Aa4N"]')
    search.click()
    
search_car24()

Enter the search With location old cars chennai

In [98]:
# scrolling page to max
for i in range(20):
    driver.execute_script("window.scrollBy(0,5000)")
    
    time.sleep(2)

# fetching urls    
urls=[]

for i in driver.find_elements(By.XPATH,'//div[@class="col-4"]/a'):
    urls.append(i.get_attribute('href'))
    
len(urls)

407

In [100]:
Brand2=[]
Model2=[]
Varient2=[]
Make_year2=[]
K_meter2=[]
F_type2=[]
Owner2=[]
Location2=[]
Price2=[]


for url in urls:
    driver.get(url)
    time.sleep(3)
    
    #Brand name
    try:
        brand = driver.find_element(By.XPATH,'//li[@class="breadcrumb-item"]/a')
        Brand2.append(brand.text.strip(" "))
    except NoSuchElementException:
        Brand2.append("-")
        
   # Model
    try:
        m=driver.find_element(By.XPATH,'//h2[@class="_2geSF"]')
        Model2.append(m.text.split()[2])
    except NoSuchElementException:
        Model2.append('-')
        
     # Varient 
    try:
        var=driver.find_element(By.XPATH,'//span[@class="_18vo2"]')
        Varient2.append(var.text.strip(" "))
    except NoSuchElementException:
        Varient2.append('-')
        
    #Make year
    try:
        mk=driver.find_element(By.XPATH,'//ul[@class="_3oLON"]/li[5]')
        Make_year2.append(mk.text.split()[0])
    except NoSuchElementException:
        Make_year2.append('-')
        
        
    # Fuel Type
    try:
        ft= driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[3]')
        F_type2.append(ft.text.strip(" "))
    except NoSuchElementException:
        F_type2.append("-")
        
   # Kilo Meter
    try:
        km=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[1]')
        K_meter2.append(km.text.strip(""))
    except NoSuchElementException:
        k_meter2.append('-')
        
     # Owner
    try:
        o=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[5]')
        Owner2.append(o.text.strip(""))
    except NoSuchElementException:
        Owner2.append('-')
        
    # Location
    try:
        l=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[7]')
        Location2.append(l.text.strip(" "))
    except NoSuchElementException:
        Location2.append('-')
        
    # Price
    try:
        p=driver.find_element(By.XPATH,'//ul[@class="_10Etm"]/li[1]/span[2]')
        Price2.append(p.text.strip("â‚¹"))
    except NoSuchElementException:
        Price2.append('-')
        
    
    time.sleep(1)

In [101]:
print("Brand",len(Brand2),"Model",len(Model2),"Varient",len(Varient2),"Year",len(Make_year2),"Kilometer",len(K_meter2),"Fuel",len(F_type2),"Owner",len(Owner2),"Location",len(Location2),"Price",len(Price2))

Brand 407 Model 407 Varient 407 Year 407 Kilometer 407 Fuel 407 Owner 407 Location 407 Price 407

In [102]:
d5=pd.DataFrame(data={"Brand":Brand2,"Model":Model2,
                      "Varient":Varient2,"Make_Year":Make_year2,
                      "Kilometer":K_meter2,"Fuel_Type":F_type2,
                      "Owners":Owner2, "Location":Location2,"Price":Price2})
d5.head(5)

,Brand,Model,Varient,Make_Year,Kilometer,Fuel_Type,Owners,Location,Price
0,Toyota,YARIS,J CVT AUTOMATIC,2021,"16,583 km",Petrol,1st Owner,TN-14,"11,20,599"
1,Toyota,YARIS,V MT MANUAL,2020,"23,415 km",Petrol,1st Owner,TN-19,"10,40,299"
2,Toyota,YARIS,G MT MANUAL,2018,"19,673 km",Petrol,1st Owner,TN-09,"8,05,499"
3,Toyota,YARIS,G MT MANUAL,2018,"50,678 km",Petrol,2nd Owner,TN-01,"7,87,799"
4,Mercedes Benz,Benz,C 200 AVANTGARDE AUTOMATIC,2015,"42,342 km",Petrol,2nd Owner,TN-09,"20,57,599"

In [103]:
d5.to_csv("chennai.csv")

In [104]:
driver.close()

# Hyderabad

In [110]:
driver=webdriver.Edge(r"C:\Users\jitsa\Downloads\edgedriver(2)\msedgedriver.exe")
driver.get("https://www.cars24.com")

In [112]:
def search_car24():
    user=driver.find_element(By.XPATH,'//*[@id="react-select-2-input"]')
    u_search=str(input("Enter the search With location "))
    user.send_keys(u_search)
    
    #Submit Query
    search=driver.find_element(By.XPATH,'//span[@class="_1Aa4N"]')
    search.click()
    
search_car24()

Enter the search With location old cars Hydrabad

In [113]:
# scrolling page to max
for i in range(20):
    driver.execute_script("window.scrollBy(0,5000)")
    
    time.sleep(2)

# fetching urls    
urls=[]

for i in driver.find_elements(By.XPATH,'//div[@class="col-4"]/a'):
    urls.append(i.get_attribute('href'))
    
len(urls)

476

In [114]:
Brand2=[]
Model2=[]
Varient2=[]
Make_year2=[]
K_meter2=[]
F_type2=[]
Owner2=[]
Location2=[]
Price2=[]


for url in urls:
    driver.get(url)
    time.sleep(3)
    
    #Brand name
    try:
        brand = driver.find_element(By.XPATH,'//li[@class="breadcrumb-item"]/a')
        Brand2.append(brand.text.strip(" "))
    except NoSuchElementException:
        Brand2.append("-")
        
   # Model
    try:
        m=driver.find_element(By.XPATH,'//h2[@class="_2geSF"]')
        Model2.append(m.text.split()[2])
    except NoSuchElementException:
        Model2.append('-')
        
     # Varient 
    try:
        var=driver.find_element(By.XPATH,'//span[@class="_18vo2"]')
        Varient2.append(var.text.strip(" "))
    except NoSuchElementException:
        Varient2.append('-')
        
    #Make year
    try:
        mk=driver.find_element(By.XPATH,'//ul[@class="_3oLON"]/li[5]')
        Make_year2.append(mk.text.split()[0])
    except NoSuchElementException:
        Make_year2.append('-')
        
        
    # Fuel Type
    try:
        ft= driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[3]')
        F_type2.append(ft.text.strip(" "))
    except NoSuchElementException:
        F_type2.append("-")
        
   # Kilo Meter
    try:
        km=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[1]')
        K_meter2.append(km.text.strip(""))
    except NoSuchElementException:
        k_meter2.append('-')
        
     # Owner
    try:
        o=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[5]')
        Owner2.append(o.text.strip(""))
    except NoSuchElementException:
        Owner2.append('-')
        
    # Location
    try:
        l=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[7]')
        Location2.append(l.text.strip(" "))
    except NoSuchElementException:
        Location2.append('-')
        
    # Price
    try:
        p=driver.find_element(By.XPATH,'//ul[@class="_10Etm"]/li[1]/span[2]')
        Price2.append(p.text.strip("â‚¹"))
    except NoSuchElementException:
        Price2.append('-')
        
    
    time.sleep(1)

In [115]:
print("Brand",len(Brand2),"Model",len(Model2),"Varient",len(Varient2),"Year",len(Make_year2),"Kilometer",len(K_meter2),"Fuel",len(F_type2),"Owner",len(Owner2),"Location",len(Location2),"Price",len(Price2))

Brand 476 Model 476 Varient 476 Year 476 Kilometer 476 Fuel 476 Owner 476 Location 476 Price 476

In [116]:
d6=pd.DataFrame(data={"Brand":Brand2,"Model":Model2,
                      "Varient":Varient2,"Make_Year":Make_year2,
                      "Kilometer":K_meter2,"Fuel_Type":F_type2,
                      "Owners":Owner2, "Location":Location2,"Price":Price2})
d6.head(5)

,Brand,Model,Varient,Make_Year,Kilometer,Fuel_Type,Owners,Location,Price
0,Toyota,YARIS,J MT MANUAL,2018,"37,668 km",Petrol,2nd Owner,TS-09,"8,19,199"
1,Toyota,YARIS,V CVT AUTOMATIC,2020,"38,950 km",Petrol,1st Owner,TS-08,"11,04,699"
2,Toyota,YARIS,J MT MANUAL,2018,"11,345 km",Petrol,1st Owner,TS-07,"8,19,699"
3,Volkswagen,Polo,COMFORTLINE 1.2L PETROL MANUAL,2016,"79,315 km",Petrol,2nd Owner,TS-15,"5,20,599"
4,Volkswagen,Polo,Trendline 1.0 L Petrol MANUAL,2019,"58,671 km",Petrol,1st Owner,TS-07,"5,58,699"

In [117]:
d6.to_csv("hydrabad.csv")

# Gurgaon

In [122]:
driver=webdriver.Edge(r"C:\Users\jitsa\Downloads\edgedriver(2)\msedgedriver.exe")
driver.get("https://www.cars24.com")

In [123]:
def search_car24():
    user=driver.find_element(By.XPATH,'//*[@id="react-select-2-input"]')
    u_search=str(input("Enter the search With location "))
    user.send_keys(u_search)
    
    #Submit Query
    search=driver.find_element(By.XPATH,'//span[@class="_1Aa4N"]')
    search.click()
    
search_car24()

Enter the search With location gurgoan

In [124]:
# scrolling page to max
for i in range(20):
    driver.execute_script("window.scrollBy(0,5000)")
    
    time.sleep(2)

# fetching urls    
urls=[]

for i in driver.find_elements(By.XPATH,'//div[@class="col-4"]/a'):
    urls.append(i.get_attribute('href'))
    
len(urls)

913

In [125]:
Brand2=[]
Model2=[]
Varient2=[]
Make_year2=[]
K_meter2=[]
F_type2=[]
Owner2=[]
Location2=[]
Price2=[]


for url in urls:
    driver.get(url)
    time.sleep(1)
    
    #Brand name
    try:
        brand = driver.find_element(By.XPATH,'//li[@class="breadcrumb-item"]/a')
        Brand2.append(brand.text.strip(" "))
    except NoSuchElementException:
        Brand2.append("-")
        
   # Model
    try:
        m=driver.find_element(By.XPATH,'//h2[@class="_2geSF"]')
        Model2.append(m.text.split()[2])
    except NoSuchElementException:
        Model2.append('-')
        
     # Varient 
    try:
        var=driver.find_element(By.XPATH,'//span[@class="_18vo2"]')
        Varient2.append(var.text.strip(" "))
    except NoSuchElementException:
        Varient2.append('-')
        
    #Make year
    try:
        mk=driver.find_element(By.XPATH,'//ul[@class="_3oLON"]/li[5]')
        Make_year2.append(mk.text.split()[0])
    except NoSuchElementException:
        Make_year2.append('-')
        
        
    # Fuel Type
    try:
        ft= driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[3]')
        F_type2.append(ft.text.strip(" "))
    except NoSuchElementException:
        F_type2.append("-")
        
   # Kilo Meter
    try:
        km=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[1]')
        K_meter2.append(km.text.strip(""))
    except NoSuchElementException:
        k_meter2.append('-')
        
     # Owner
    try:
        o=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[5]')
        Owner2.append(o.text.strip(""))
    except NoSuchElementException:
        Owner2.append('-')
        
    # Location
    try:
        l=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[7]')
        Location2.append(l.text.strip(" "))
    except NoSuchElementException:
        Location2.append('-')
        
    # Price
    try:
        p=driver.find_element(By.XPATH,'//ul[@class="_10Etm"]/li[1]/span[2]')
        Price2.append(p.text.strip("â‚¹"))
    except NoSuchElementException:
        Price2.append('-')
        
    
    time.sleep(1)

In [126]:
print("Brand",len(Brand2),"Model",len(Model2),"Varient",len(Varient2),"Year",len(Make_year2),"Kilometer",len(K_meter2),"Fuel",len(F_type2),"Owner",len(Owner2),"Location",len(Location2),"Price",len(Price2))

Brand 913 Model 913 Varient 913 Year 913 Kilometer 913 Fuel 913 Owner 913 Location 913 Price 913

In [127]:
d7=pd.DataFrame(data={"Brand":Brand2,"Model":Model2,
                      "Varient":Varient2,"Make_Year":Make_year2,
                      "Kilometer":K_meter2,"Fuel_Type":F_type2,
                      "Owners":Owner2, "Location":Location2,"Price":Price2})
d7.head(5)

,Brand,Model,Varient,Make_Year,Kilometer,Fuel_Type,Owners,Location,Price
0,Maruti,Baleno,SIGMA 1.2 K12 MANUAL,2020,"16,054 km",Petrol,1st Owner,DL-9C,"6,03,599"
1,Jeep,Compass,1.4 LONGITUDE (O) AT AUTOMATIC,2019,"23,525 km",Petrol,1st Owner,DL-3C,"19,73,799"
2,Jeep,Compass,2.0 LONGITUDE (O) MANUAL,2018,"79,397 km",Diesel,1st Owner,UP-70,"11,15,599"
3,Hyundai,AURA,S 1.2 Kappa MT MANUAL,2021,"26,389 km",Petrol,1st Owner,DL-7C,"6,54,499"
4,Maruti,Baleno,SIGMA 1.2 K12 MANUAL,2020,"10,838 km",Petrol,2nd Owner,HR-98,"6,03,599"

In [128]:
d7.to_csv("Gurgaon.csv")

In [129]:
driver.close()

# Ahmedabad

In [130]:
driver=webdriver.Edge(r"C:\Users\jitsa\Downloads\edgedriver(2)\msedgedriver.exe")
driver.get("https://www.cars24.com")

In [131]:
def search_car24():
    user=driver.find_element(By.XPATH,'//*[@id="react-select-2-input"]')
    u_search=str(input("Enter the search With location "))
    user.send_keys(u_search)
    
    #Submit Query
    search=driver.find_element(By.XPATH,'//span[@class="_1Aa4N"]')
    search.click()
    
search_car24()

Enter the search With location old cars Ahmedabad

In [132]:
# scrolling page to max
for i in range(20):
    driver.execute_script("window.scrollBy(0,5000)")
    
    time.sleep(2)

# fetching urls    
urls=[]

for i in driver.find_elements(By.XPATH,'//div[@class="col-4"]/a'):
    urls.append(i.get_attribute('href'))
    
len(urls)

224

In [133]:
Brand2=[]
Model2=[]
Varient2=[]
Make_year2=[]
K_meter2=[]
F_type2=[]
Owner2=[]
Location2=[]
Price2=[]


for url in urls:
    driver.get(url)
    time.sleep(2)
    
    #Brand name
    try:
        brand = driver.find_element(By.XPATH,'//li[@class="breadcrumb-item"]/a')
        Brand2.append(brand.text.strip(" "))
    except NoSuchElementException:
        Brand2.append("-")
        
   # Model
    try:
        m=driver.find_element(By.XPATH,'//h2[@class="_2geSF"]')
        Model2.append(m.text.split()[2])
    except NoSuchElementException:
        Model2.append('-')
        
     # Varient 
    try:
        var=driver.find_element(By.XPATH,'//span[@class="_18vo2"]')
        Varient2.append(var.text.strip(" "))
    except NoSuchElementException:
        Varient2.append('-')
        
    #Make year
    try:
        mk=driver.find_element(By.XPATH,'//ul[@class="_3oLON"]/li[5]')
        Make_year2.append(mk.text.split()[0])
    except NoSuchElementException:
        Make_year2.append('-')
        
        
    # Fuel Type
    try:
        ft= driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[3]')
        F_type2.append(ft.text.strip(" "))
    except NoSuchElementException:
        F_type2.append("-")
        
   # Kilo Meter
    try:
        km=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[1]')
        K_meter2.append(km.text.strip(""))
    except NoSuchElementException:
        k_meter2.append('-')
        
     # Owner
    try:
        o=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[5]')
        Owner2.append(o.text.strip(""))
    except NoSuchElementException:
        Owner2.append('-')
        
    # Location
    try:
        l=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[7]')
        Location2.append(l.text.strip(" "))
    except NoSuchElementException:
        Location2.append('-')
        
    # Price
    try:
        p=driver.find_element(By.XPATH,'//ul[@class="_10Etm"]/li[1]/span[2]')
        Price2.append(p.text.strip("â‚¹"))
    except NoSuchElementException:
        Price2.append('-')
        
    
    time.sleep(1)

In [134]:
print("Brand",len(Brand2),"Model",len(Model2),"Varient",len(Varient2),"Year",len(Make_year2),"Kilometer",len(K_meter2),"Fuel",len(F_type2),"Owner",len(Owner2),"Location",len(Location2),"Price",len(Price2))

Brand 224 Model 224 Varient 224 Year 224 Kilometer 224 Fuel 224 Owner 224 Location 224 Price 224

In [135]:
d8=pd.DataFrame(data={"Brand":Brand2,"Model":Model2,
                      "Varient":Varient2,"Make_Year":Make_year2,
                      "Kilometer":K_meter2,"Fuel_Type":F_type2,
                      "Owners":Owner2, "Location":Location2,"Price":Price2})
d8.head(5)

,Brand,Model,Varient,Make_Year,Kilometer,Fuel_Type,Owners,Location,Price
0,Maruti,Swift,ZXI+ DUAL TONE,2021,"37,089 km",Petrol,1st Owner,GJ-27,"9,08,299"
1,Maruti,Celerio,VXI MANUAL,2017,"93,472 km",Petrol,1st Owner,GJ-06,"3,94,699"
2,Maruti,Swift,VXI MANUAL,2015,"43,828 km",Petrol,1st Owner,RJ-14,"4,28,999"
3,Maruti,Swift,VXI MANUAL,2020,"17,554 km",Petrol,1st Owner,GJ-06,"6,57,899"
4,Nissan,MAGNITE,XE 1.0 MT,2021,"17,653 km",Petrol,1st Owner,GJ-01,"6,03,199"

In [136]:
d8.to_csv("Ahmedabad.csv")

# Lucknow

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, SessionNotCreatedException

import time
import warnings
import pandas as pd
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Edge(r"C:\Users\jitsa\Downloads\edgedriver(2)\msedgedriver.exe")
driver.get("https://www.cars24.com")

In [3]:
def search_car24():
    user=driver.find_element(By.XPATH,'//*[@id="react-select-2-input"]')
    u_search=str(input("Enter the search With location "))
    user.send_keys(u_search)
    
    #Submit Query
    search=driver.find_element(By.XPATH,'//span[@class="_1Aa4N"]')
    search.click()
    
search_car24()

Enter the search With location punjab old cars

In [18]:
# scrolling page to max
for i in range(10):
    driver.execute_script("window.scrollBy(0,1000)")
    
    time.sleep(2)

# fetching urls    
urls=[]

for i in driver.find_elements(By.XPATH,'//div[@class="col-4"]/a'):
    urls.append(i.get_attribute('href'))
    
len(urls)

104

In [19]:
Brand2=[]
Model2=[]
Varient2=[]
Make_year2=[]
K_meter2=[]
F_type2=[]
Owner2=[]
Location2=[]
Price2=[]


for url in urls:
    driver.get(url)
    time.sleep(2)
    
    #Brand name
    try:
        brand = driver.find_element(By.XPATH,'//li[@class="breadcrumb-item"]/a')
        Brand2.append(brand.text.strip(" "))
    except NoSuchElementException:
        Brand2.append("-")
        
   # Model
    try:
        m=driver.find_element(By.XPATH,'//h2[@class="_2geSF"]')
        Model2.append(m.text.split()[2])
    except NoSuchElementException:
        Model2.append('-')
        
     # Varient 
    try:
        var=driver.find_element(By.XPATH,'//span[@class="_18vo2"]')
        Varient2.append(var.text.strip(" "))
    except NoSuchElementException:
        Varient2.append('-')
        
    #Make year
    try:
        mk=driver.find_element(By.XPATH,'//ul[@class="_3oLON"]/li[5]')
        Make_year2.append(mk.text.split()[0])
    except NoSuchElementException:
        Make_year2.append('-')
        
        
    # Fuel Type
    try:
        ft= driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[3]')
        F_type2.append(ft.text.strip(" "))
    except NoSuchElementException:
        F_type2.append("-")
        
   # Kilo Meter
    try:
        km=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[1]')
        K_meter2.append(km.text.strip(""))
    except NoSuchElementException:
        k_meter2.append('-')
        
     # Owner
    try:
        o=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[5]')
        Owner2.append(o.text.strip(""))
    except NoSuchElementException:
        Owner2.append('-')
        
    # Location
    try:
        l=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[7]')
        Location2.append(l.text.strip(" "))
    except NoSuchElementException:
        Location2.append('-')
        
    # Price
    try:
        p=driver.find_element(By.XPATH,'//ul[@class="_10Etm"]/li[1]/span[2]')
        Price2.append(p.text.strip("â‚¹"))
    except NoSuchElementException:
        Price2.append('-')
        
    
    time.sleep(1)

In [20]:
print("Brand",len(Brand2),"Model",len(Model2),"Varient",len(Varient2),"Year",len(Make_year2),"Kilometer",len(K_meter2),"Fuel",len(F_type2),"Owner",len(Owner2),"Location",len(Location2),"Price",len(Price2))

Brand 104 Model 104 Varient 104 Year 104 Kilometer 104 Fuel 104 Owner 104 Location 104 Price 104

In [21]:
d9=pd.DataFrame(data={"Brand":Brand2,"Model":Model2,
                      "Varient":Varient2,"Make_Year":Make_year2,
                      "Kilometer":K_meter2,"Fuel_Type":F_type2,
                      "Owners":Owner2, "Location":Location2,"Price":Price2})
d9.head(5)

,Brand,Model,Varient,Make_Year,Kilometer,Fuel_Type,Owners,Location,Price
0,Hyundai,i10,MAGNA 1.2 MANUAL,2009,"62,240 km",Petrol,2nd Owner,KL-07,"1,99,699"
1,Honda,City,S MT PETROL MANUAL,2011,"59,663 km",Petrol,2nd Owner,KL-33,"4,47,499"
2,Hyundai,i10,SPORTZ 1.2 MANUAL,2008,"23,872 km",Petrol,2nd Owner,KL-07,"2,38,699"
3,Hyundai,Grand,MAGNA 1.2 VTVT MANUAL,2018,"22,695 km",Petrol,1st Owner,KL-55,"4,60,099"
4,Hyundai,Grand,MAGNA 1.2 VTVT MANUAL,2018,"34,956 km",Petrol,3rd Owner,KL-05,"4,37,299"

In [22]:
d9.to_csv("kochi.csv")

In [23]:
driver.close()

# PATNA

In [33]:
driver=webdriver.Edge(r"C:\Users\jitsa\Downloads\edgedriver(2)\msedgedriver.exe")
driver.get("https://www.cars24.com")

In [34]:
def search_car24():
    user=driver.find_element(By.XPATH,'//*[@id="react-select-2-input"]')
    u_search=str(input("Enter the search With location "))
    user.send_keys(u_search)
    
    #Submit Query
    search=driver.find_element(By.XPATH,'//span[@class="_1Aa4N"]')
    search.click()
    
search_car24()

Enter the search With location patna used cars

In [35]:
# scrolling page to max
for i in range(20):
    driver.execute_script("window.scrollBy(0,5000)")
    
    time.sleep(2)

# fetching urls    
urls=[]

for i in driver.find_elements(By.XPATH,'//div[@class="col-4"]/a'):
    urls.append(i.get_attribute('href'))
    
len(urls)

79

In [36]:
Brand2=[]
Model2=[]
Varient2=[]
Make_year2=[]
K_meter2=[]
F_type2=[]
Owner2=[]
Location2=[]
Price2=[]


for url in urls:
    driver.get(url)
    time.sleep(1)
    
    #Brand name
    try:
        brand = driver.find_element(By.XPATH,'//li[@class="breadcrumb-item"]/a')
        Brand2.append(brand.text.strip(" "))
    except NoSuchElementException:
        Brand2.append("-")
        
   # Model
    try:
        m=driver.find_element(By.XPATH,'//h2[@class="_2geSF"]')
        Model2.append(m.text.split()[2])
    except NoSuchElementException:
        Model2.append('-')
        
     # Varient 
    try:
        var=driver.find_element(By.XPATH,'//span[@class="_18vo2"]')
        Varient2.append(var.text.strip(" "))
    except NoSuchElementException:
        Varient2.append('-')
        
    #Make year
    try:
        mk=driver.find_element(By.XPATH,'//ul[@class="_3oLON"]/li[5]')
        Make_year2.append(mk.text.split()[0])
    except NoSuchElementException:
        Make_year2.append('-')
        
        
    # Fuel Type
    try:
        ft= driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[3]')
        F_type2.append(ft.text.strip(" "))
    except NoSuchElementException:
        F_type2.append("-")
        
   # Kilo Meter
    try:
        km=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[1]')
        K_meter2.append(km.text.strip(""))
    except NoSuchElementException:
        k_meter2.append('-')
        
     # Owner
    try:
        o=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[5]')
        Owner2.append(o.text.strip(""))
    except NoSuchElementException:
        Owner2.append('-')
        
    # Location
    try:
        l=driver.find_element(By.XPATH,'//ul[@class="_2tp8h"]/li[7]')
        Location2.append(l.text.strip(" "))
    except NoSuchElementException:
        Location2.append('-')
        
    # Price
    try:
        p=driver.find_element(By.XPATH,'//ul[@class="_10Etm"]/li[1]/span[2]')
        Price2.append(p.text.strip("â‚¹"))
    except NoSuchElementException:
        Price2.append('-')
        
    
    time.sleep(1)

In [37]:
print("Brand",len(Brand2),"Model",len(Model2),"Varient",len(Varient2),"Year",len(Make_year2),"Kilometer",len(K_meter2),"Fuel",len(F_type2),"Owner",len(Owner2),"Location",len(Location2),"Price",len(Price2))

Brand 79 Model 79 Varient 79 Year 79 Kilometer 79 Fuel 79 Owner 79 Location 79 Price 79

In [38]:
df10=pd.DataFrame(data={"Brand":Brand2,"Model":Model2,
                      "Varient":Varient2,"Make_Year":Make_year2,
                      "Kilometer":K_meter2,"Fuel_Type":F_type2,
                      "Owners":Owner2, "Location":Location2,"Price":Price2})
df10.head(5)

,Brand,Model,Varient,Make_Year,Kilometer,Fuel_Type,Owners,Location,Price
0,Tata,NEXON,XM SUNROOF 1.2 RTN MANUAL,2021,"16,895 km",Petrol,1st Owner,BR-01,"8,66,199"
1,Tata,Zest,XE QUADRAJET 75PS MANUAL,2017,"80,216 km",Diesel,1st Owner,BR-01,"3,53,399"
2,Hyundai,i10,MAGNA 1.2 MANUAL,2010,"49,447 km",Petrol,2nd Owner,BR-01,"1,91,649"
3,Maruti,Baleno,ZETA 1.2 K12 MANUAL,2018,"11,300 km",Petrol,1st Owner,BR-01,"6,36,299"
4,Hyundai,Grand,1.2 KAPPA SPORTZ (O) MANUAL,2017,"60,214 km",Petrol,2nd Owner,BR-01,"4,16,899"

In [39]:
d10=pd.DataFrame(data={"Brand":Brand2,"Model":Model2,
                      "Varient":Varient2,"Make_Year":Make_year2,
                      "Kilometer":K_meter2,"Fuel_Type":F_type2,
                      "Owners":Owner2, "Location":Location2,"Price":Price2})
d10.head(5)

,Brand,Model,Varient,Make_Year,Kilometer,Fuel_Type,Owners,Location,Price
0,Tata,NEXON,XM SUNROOF 1.2 RTN MANUAL,2021,"16,895 km",Petrol,1st Owner,BR-01,"8,66,199"
1,Tata,Zest,XE QUADRAJET 75PS MANUAL,2017,"80,216 km",Diesel,1st Owner,BR-01,"3,53,399"
2,Hyundai,i10,MAGNA 1.2 MANUAL,2010,"49,447 km",Petrol,2nd Owner,BR-01,"1,91,649"
3,Maruti,Baleno,ZETA 1.2 K12 MANUAL,2018,"11,300 km",Petrol,1st Owner,BR-01,"6,36,299"
4,Hyundai,Grand,1.2 KAPPA SPORTZ (O) MANUAL,2017,"60,214 km",Petrol,2nd Owner,BR-01,"4,16,899"

In [40]:
d10.to_csv("patna.csv")

In [41]:
df1=pd.read_csv("Ahmedabad.csv")
df2=pd.read_csv("Bangalore.csv")
df3=pd.read_csv("chandigarh.csv")
df4=pd.read_csv("chennai.csv")
df5=pd.read_csv("delhi.csv")
df6=pd.read_csv("Gurgaon.csv")
df7=pd.read_csv("hydrabad.csv")
df8=pd.read_csv("Jaipur.csv")
df9=pd.read_csv("kolkata.csv")
df10=pd.read_csv("Mumbai.csv")
df11=pd.read_csv("noida.csv")
df12=pd.read_csv("Pune.csv")
df13=pd.read_csv("kochi.csv")
df14=pd.read_csv("patna.csv")

In [49]:
new_df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11],axis=0,join='outer',ignore_index=True)
new_df

,Unnamed: 0,Brand,Model,Varient,Make_Year,Kilometer,Fuel_Type,Owners,Location,Price
0,0,Maruti,Swift,ZXI+ DUAL TONE,2021,"37,089 km",Petrol,1st Owner,GJ-27,"9,08,299"
1,1,Maruti,Celerio,VXI MANUAL,2017,"93,472 km",Petrol,1st Owner,GJ-06,"3,94,699"
2,2,Maruti,Swift,VXI MANUAL,2015,"43,828 km",Petrol,1st Owner,RJ-14,"4,28,999"
3,3,Maruti,Swift,VXI MANUAL,2020,"17,554 km",Petrol,1st Owner,GJ-06,"6,57,899"
4,4,Nissan,MAGNITE,XE 1.0 MT,2021,"17,653 km",Petrol,1st Owner,GJ-01,"6,03,199"
...,...,...,...,...,...,...,...,...,...,...
5224,906,Renault,Duster,85 PS RXE DIESEL ADVENTURE MANUAL,2015,"55,669 km",Diesel,1st Owner,DL-1C,"4,67,699"
5225,907,Renault,Duster,85 PS RXE MANUAL,2014,"1,59,926 km",Diesel,1st Owner,DL-8C,"3,61,499"
5226,908,Renault,Duster,85 PS RXE DIESEL ADVENTURE MANUAL,2015,"65,308 km",Diesel,1st Owner,DL-8C,"4,56,599"
5227,909,Maruti,Swift,VXI MANUAL,2013,"60,782 km",Petrol,2nd Owner,DL-1C,"3,50,999"
5228,910,Hyundai,i10,MAGNA 1.1 IRDE2 MANUAL,2013,"35,164 km",Petrol,3rd Owner,DL-9C,"2,32,999"

In [50]:
new_df.to_csv("Cardata.csv")