In [1]:
#Write a python program to display all the header tags from wikipedia.org.

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page=requests.get("https://en.wikipedia.org/wiki/Main_Page")
soup1=BeautifulSoup(page.content)
page

In [3]:
Wik_head=[]

for i in soup1.find_all("span",class_="mw-headline"):
    Wik_head.append(i.text.strip())

In [4]:
Wik_head

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [5]:
len(Wik_head)

9

In [6]:
df=pd.DataFrame(data=Wik_head,columns=['Heading'])

In [7]:
df

                         Heading
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.

In [8]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page=requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc")
soup2=BeautifulSoup(page.content)
page

In [9]:
# movie page1(1 to 50)

In [10]:
Movie_page1=[]
for i in soup2.find_all("h3",class_="lister-item-header"):
    Movie_page1.append(i.find("a").text.strip())

Year=[]

for i in soup2.find_all("span",class_="lister-item-year text-muted unbold"):
    Year.append(i.text.strip("()"))

Rating=[]

for i in soup2.find_all("div",class_="inline-block ratings-imdb-rating"):
    Rating.append(i.text.strip())

In [11]:
print(Rating)

['9.3', '9.2', '9.0', '9.0', '9.0', '9.0', '9.0', '8.9', '8.8', '8.8', '8.8', '8.8', '8.8', '8.8', '8.7', '8.7', '8.7', '8.7', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5']

In [12]:
print(Year)

['1994', '1972', '2008', '2003', '1993', '1974', '1957', '1994', '2010', '2002', '1999', '2001', '1994', '1966', '1999', '1990', '1980', '1975', '2022', '2014', '2002', '2001', '1998', '1999', '1997', '1995', '1991', '1991', '1977', '1962', '1954', '1946', '2019', '2014', '2011', '2006', '2006', '2002', '2000', '1998', '1995', '1994', '1994', '1988', '1988', '1985', '1979', '1979', '1968', '1960']

In [13]:
print(Movie_page1)

['The Shawshank Redemption', 'The Godfather', 'The Dark Knight', 'The Lord of the Rings: The Return of the King', "Schindler's List", 'The Godfather Part II', '12 Angry Men', 'Pulp Fiction', 'Inception', 'The Lord of the Rings: The Two Towers', 'Fight Club', 'The Lord of the Rings: The Fellowship of the Ring', 'Forrest Gump', 'Il buono, il brutto, il cattivo', 'The Matrix', 'Goodfellas', 'The Empire Strikes Back', "One Flew Over the Cuckoo's Nest", 'Top Gun: Maverick', 'Interstellar', 'Cidade de Deus', 'Sen to Chihiro no kamikakushi', 'Saving Private Ryan', 'The Green Mile', 'La vita è bella', 'Se7en', 'Terminator 2: Judgment Day', 'The Silence of the Lambs', 'Star Wars', 'Seppuku', 'Shichinin no samurai', "It's a Wonderful Life", 'Gisaengchung', 'Whiplash', 'The Intouchables', 'The Prestige', 'The Departed', 'The Pianist', 'Gladiator', 'American History X', 'The Usual Suspects', 'Léon', 'The Lion King', 'Nuovo Cinema Paradiso', 'Hotaru no haka', 'Back to the Future', 'Apocalypse Now', 'Alien', 'Once Upon a Time in the West', 'Psycho']

In [14]:
print(len(Movie_page1),len(Rating),len(Year))

50 50 50

In [15]:
df1=pd.DataFrame({"Movie_Name":Movie_page1,"Rating":Rating,"Year_Of_Release":Year})

In [16]:
df1.tail()

                      Movie_Name Rating Year_Of_Release
45            Back to the Future    8.5            1985
46                Apocalypse Now    8.5            1979
47                         Alien    8.5            1979
48  Once Upon a Time in the West    8.5            1968
49                        Psycho    8.5            1960

In [17]:
page2=requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt")
soup2A=BeautifulSoup(page2.content)
page2

In [18]:
Movie_2=[]

for i in soup2A.find_all("h3",class_="lister-item-header"):
    Movie_2.append(i.find("a").text.strip())

Year=[]
for i in soup2A.find_all("span",class_="lister-item-year text-muted unbold"):
    Year.append(i.text.strip("()"))

Rating=[]
for i in soup2A.find_all("div",class_="inline-block ratings-imdb-rating"):
    Rating.append(i.text.strip())

In [19]:
print(Movie_2,Year,Rating)
print(len(Movie_2),len(Year),len(Rating))

['Rear Window', 'Casablanca', 'Modern Times', 'City Lights', 'Capharnaüm', 'Joker', 'Kimi no na wa.', 'Spider-Man: Into the Spider-Verse', 'Avengers: Endgame', 'Avengers: Infinity War', 'Coco', 'Django Unchained', 'The Dark Knight Rises', '3 Idiots', 'WALL·E', 'The Lives of Others', 'Oldeuboi', 'Memento', 'American Beauty', 'Mononoke-hime', 'Braveheart', 'Idi i smotri', 'Aliens', 'Amadeus', 'Raiders of the Lost Ark', 'Das Boot', 'The Shining', 'Tengoku to jigoku', 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', 'Witness for the Prosecution', 'Paths of Glory', 'Sunset Blvd.', 'The Great Dictator', 'Jagten', 'Toy Story 3', 'Inglourious Basterds', 'Eternal Sunshine of the Spotless Mind', 'Requiem for a Dream', 'Good Will Hunting', 'Toy Story', 'Reservoir Dogs', 'Once Upon a Time in America', 'Star Wars: Episode VI - Return of the Jedi', '2001: A Space Odyssey', 'Lawrence of Arabia', 'North by Northwest', 'Vertigo', "Singin' in the Rain", 'Citizen Kane', 'M - Eine Stadt sucht einen Mörder'] ['1954', '1942', '1936', '1931', '2018', 'I) (2019', '2016', '2018', '2019', '2018', 'I) (2017', '2012', '2012', '2009', '2008', '2006', '2003', '2000', '1999', '1997', '1995', '1985', '1986', '1984', '1981', '1981', '1980', '1963', '1964', '1957', '1957', '1950', '1940', '2012', '2010', '2009', '2004', '2000', '1997', '1995', '1992', '1984', '1983', '1968', '1962', '1959', '1958', '1952', '1941', '1931'] ['8.5', '8.5', '8.5', '8.5', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3']
50 50 50

In [20]:
df2=pd.DataFrame({"Movie_Name":Movie_2,"Rating":Rating,"Year_Of_Release":Year})

In [21]:
df2

                                           Movie_Name Rating Year_Of_Release
0                                         Rear Window    8.5            1954
1                                          Casablanca    8.5            1942
2                                        Modern Times    8.5            1936
3                                         City Lights    8.5            1931
4                                          Capharnaüm    8.4            2018
5                                               Joker    8.4        I) (2019
6                                      Kimi no na wa.    8.4            2016
7                   Spider-Man: Into the Spider-Verse    8.4            2018
8                                   Avengers: Endgame    8.4            2019
9                              Avengers: Infinity War    8.4            2018
10                                               Coco    8.4        I) (2017
11                                   Django Unchained    8.4            2012
12                              The Dark Knight Rises    8.4            2012
13                                           3 Idiots    8.4            2009
14                                             WALL·E    8.4            2008
15                                The Lives of Others    8.4            2006
16                                           Oldeuboi    8.4            2003
17                                            Memento    8.4            2000
18                                    American Beauty    8.4            1999
19                                      Mononoke-hime    8.4            1997
20                                         Braveheart    8.4            1995
21                                       Idi i smotri    8.4            1985
22                                             Aliens    8.4            1986
23                                            Amadeus    8.4            1984
24                            Raiders of the Lost Ark    8.4            1981
25                                           Das Boot    8.4            1981
26                                        The Shining    8.4            1980
27                                  Tengoku to jigoku    8.4            1963
28  Dr. Strangelove or: How I Learned to Stop Worr...    8.4            1964
29                        Witness for the Prosecution    8.4            1957
30                                     Paths of Glory    8.4            1957
31                                       Sunset Blvd.    8.4            1950
32                                 The Great Dictator    8.4            1940
33                                             Jagten    8.3            2012
34                                        Toy Story 3    8.3            2010
35                               Inglourious Basterds    8.3            2009
36              Eternal Sunshine of the Spotless Mind    8.3            2004
37                                Requiem for a Dream    8.3            2000
38                                  Good Will Hunting    8.3            1997
39                                          Toy Story    8.3            1995
40                                     Reservoir Dogs    8.3            1992
41                        Once Upon a Time in America    8.3            1984
42         Star Wars: Episode VI - Return of the Jedi    8.3            1983
43                              2001: A Space Odyssey    8.3            1968
44                                 Lawrence of Arabia    8.3            1962
45                                 North by Northwest    8.3            1959
46                                            Vertigo    8.3            1958
47                                Singin' in the Rain    8.3            1952
48                                       Citizen Kane    8.3            1941
49                  M - Eine Stadt sucht einen Mörder    8.3            1931

In [22]:
final=[df1,df2]

final_df=pd.concat(final ,join='outer',ignore_index=True)

In [23]:
final_df

                                       Movie_Name Rating Year_Of_Release
0                        The Shawshank Redemption    9.3            1994
1                                   The Godfather    9.2            1972
2                                 The Dark Knight    9.0            2008
3   The Lord of the Rings: The Return of the King    9.0            2003
4                                Schindler's List    9.0            1993
..                                            ...    ...             ...
95                             North by Northwest    8.3            1959
96                                        Vertigo    8.3            1958
97                            Singin' in the Rain    8.3            1952
98                                   Citizen Kane    8.3            1941
99              M - Eine Stadt sucht einen Mörder    8.3            1931

[100 rows x 3 columns]

Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame.

In [24]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page=requests.get("https://www.imdb.com/list/ls009997493/")
soup3=BeautifulSoup(page.content)
page

In [25]:
H_Movie=[]
H_rating=[]
H_year=[]

for i in soup3.find_all("h3",class_="lister-item-header"):
    H_Movie.append(i.find("a").text.strip())

for i in soup3.find_all("span",class_="lister-item-year text-muted unbold"):
    H_year.append(i.text.strip("()"))

for i in soup3.find_all("div",class_="ipl-rating-star small"):
    H_rating.append(i.text.strip())

In [26]:
print(len(H_Movie),len(H_rating),len(H_year))

100 100 100

In [27]:
print("Movie",H_Movie)
print("\n Ratings",H_rating)
print("\n Release",H_year)

Movie ['Rang De Basanti', '3 Idiots', 'Taare Zameen Par', 'Dil Chahta Hai', 'Swades: We, the People', 'Lagaan: Once Upon a Time in India', 'Gangs of Wasseypur', 'Barfi!', 'Anand', 'Munna Bhai M.B.B.S.', 'A Wednesday', 'Andaz Apna Apna', 'Sholay', 'Bhaag Milkha Bhaag', 'Hera Pheri', 'Udaan', 'Kahaani', 'Black', 'Chak De! India', 'Khosla Ka Ghosla!', 'Jo Jeeta Wohi Sikandar', 'Zindagi Na Milegi Dobara', 'Paan Singh Tomar', 'Dilwale Dulhania Le Jayenge', 'Omkara', 'Lage Raho Munna Bhai', 'Iqbal', 'The Lunchbox', 'Black Friday', 'Company', 'Golmaal', 'Dev.D', 'Jaane Bhi Do Yaaro', 'OMG: Oh My God!', 'Mughal-E-Azam', 'Gulaal', 'Dor', 'Jab We Met', 'Pyaasa', 'The Legend of Bhagat Singh', 'Masoom', 'Salaam Bombay!', 'Satya', 'Vicky Donor', 'Lakshya', 'Vaastav: The Reality', 'Kal Ho Naa Ho', 'Oye Lucky! Lucky Oye!', 'Sarfarosh', 'Gangaajal', 'Angoor', 'Madras Cafe', 'English Vinglish', 'Chupke Chupke', 'Johnny Gaddaar', 'Maqbool', 'Hazaaron Khwaishein Aisi', 'Rock On!!', 'Don', 'Chhoti Si Baat', 'Guide', 'Raanjhanaa', 'Deewaar', 'Special Chabbis', 'Padosan', 'Mumbai Meri Jaan', 'Ab Tak Chhappan', 'Kai po che!', 'Awaara', 'Shree 420', 'Earth', 'Gunda', 'Parinda', 'Dasvidaniya', 'Hey Ram', 'Pinjar: Beyond Boundaries...', 'Socha Na Tha', 'Guru', 'Bawarchi', 'Manorama: Six Feet Under', 'Mr. India', 'Aamir', 'Zakhm', 'Water', 'Stanley Ka Dabba', 'Agneepath', 'My Name Is Khan', 'Qayamat Se Qayamat Tak', '3 Deewarein', 'Abhimaan', 'Sarkar', 'Bheja Fry', 'Mother India', 'Jaane Tu... Ya Jaane Na', 'Delhi Belly', 'Wake Up Sid', 'Rangeela', 'Shatranj Ke Khilari', 'Pyaar Ka Punchnama', 'Ek Hasina Thi']

 Ratings ['8.1', '8.4', '8.3', '8.1', '8.1', '8.1', '8.2', '8.1', '8.1', '8.1', '8.1', '8', '8.1', '8.2', '8.1', '8.1', '8.1', '8.1', '8.1', '8.3', '8.2', '8.1', '8.2', '8', '8.1', '8', '8.1', '7.8', '8.4', '8', '8.5', '7.9', '8.3', '8.1', '8.1', '8', '7.9', '7.9', '8.3', '8.1', '8.4', '7.9', '8.3', '7.8', '7.8', '8', '7.9', '7.7', '8.1', '7.8', '8.3', '7.6', '7.8', '8.3', '7.9', '8', '7.9', '7.7', '7.7', '8.3', '8.4', '7.6', '8', '8', '8', '7.7', '7.8', '7.7', '7.8', '7.9', '7.6', '7.3', '7.8', '7.8', '7.9', '7.9', '7.4', '7.7', '8.1', '7.6', '7.7', '7.6', '7.9', '7.7', '7.8', '7.6', '7.9', '7.4', '7.8', '7.8', '7.6', '7.6', '7.8', '7.4', '7.5', '7.6', '7.4', '7.5', '7.6', '7.5']

 Release ['2006', '2009', '2007', '2001', '2004', '2001', '2012', '2012', '1971', '2003', '2008', '1994', '1975', '2013', '2000', '2010', '2012', '2005', '2007', '2006', '1992', '2011', '2012', '1995', '2006', '2006', '2005', '2013', '2004', '2002', '1979', '2009', '1983', '2012', '1960', '2009', '2006', '2007', '1957', '2002', '1983', '1988', '1998', '2012', '2004', '1999', '2003', '2008', '1999', '2003', '1982', '2013', '2012', '1975', '2007', '2003', '2003', '2008', '1978', '1976', '1965', '2013', '1975', '2013', '1968', '2008', '2004', '2013', '1951', '1955', '1999', '1998', '1989', '2008', '2000', '2003', '2005', '2007', '1972', '2007', '1987', '2008', '1998', 'I) (2005', '2011', '1990', '2010', '1988', '2003', '1973', '2005', '2007', '1957', '2008', '2011', '2009', '1995', '1977', '2011', '2004']

In [28]:
df3=pd.DataFrame({"Movie_Name" : H_Movie,"Ratings": H_rating, "Year of release": H_year})

In [29]:
df3

                Movie_Name Ratings Year of release
0          Rang De Basanti     8.1            2006
1                 3 Idiots     8.4            2009
2         Taare Zameen Par     8.3            2007
3           Dil Chahta Hai     8.1            2001
4   Swades: We, the People     8.1            2004
..                     ...     ...             ...
95             Wake Up Sid     7.6            2009
96                Rangeela     7.4            1995
97     Shatranj Ke Khilari     7.5            1977
98      Pyaar Ka Punchnama     7.6            2011
99           Ek Hasina Thi     7.5            2004

[100 rows x 3 columns]

Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)

from https://presidentofindia.nic.in/former-presidents.htm

In [30]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
page=requests.get("https://presidentofindia.nic.in/former-presidents.htm")
soup4=BeautifulSoup(page.content)
page

In [31]:
Name=[]

for i in soup4.find_all("div",class_="presidentListing"):
    Name.append(i.find("h3").text.strip())

In [32]:
Name

['Shri Ram Nath Kovind (birth - 1945)',
 'Shri Pranab Mukherjee (1935-2020)',
 'Smt Pratibha Devisingh Patil (birth - 1934)',
 'DR. A.P.J. Abdul Kalam (1931-2015)',
 'Shri K. R. Narayanan (1920 - 2005)',
 'Dr Shankar Dayal Sharma (1918-1999)',
 'Shri R Venkataraman (1910-2009)',
 'Giani Zail Singh (1916-1994)',
 'Shri Neelam Sanjiva Reddy (1913-1996)',
 'Dr. Fakhruddin Ali Ahmed (1905-1977)',
 'Shri Varahagiri Venkata Giri (1894-1980)',
 'Dr. Zakir Husain (1897-1969)',
 'Dr. Sarvepalli Radhakrishnan (1888-1975)',
 'Dr. Rajendra Prasad (1884-1963)']

In [33]:
Terms=[]

for i in soup4.find_all("div",class_="presidentListing"):
    Terms.append(i.find("p").text.strip()[15:])

In [34]:
Terms

[' 25 July, 2017 to 25 July, 2022',
 ' 25 July, 2012 to 25 July, 2017',
 ' 25 July, 2007 to 25 July, 2012',
 ' 25 July, 2002 to 25 July, 2007',
 ' 25 July, 1997 to 25 July, 2002',
 ' 25 July, 1992 to 25 July, 1997',
 ' 25 July, 1987 to 25 July, 1992',
 ' 25 July, 1982 to 25 July, 1987',
 ' 25 July, 1977 to 25 July, 1982',
 ' 24 August, 1974 to 11 February, 1977',
 ' 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 ' 13 May, 1967 to 3 May, 1969',
 ' 13 May, 1962 to 13 May, 1967',
 ' 26 January, 1950 to 13 May, 1962']

In [35]:
print(len(Name),len(Terms))

14 14

In [36]:
df4=pd.DataFrame({"President Name": Name,"Term of Office": Terms})

In [37]:
df4

,President Name,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

In [38]:
# 5_a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [39]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
soup5a=BeautifulSoup(page.content,"html.parser")
page

In [40]:
team1=[]
rating1=[]
point1=[]
matches1=[]

name=soup5a.find("span",class_="u-hide-phablet")
team1.append(name.text.strip("[]"))

rate=soup5a.find('td',class_="rankings-block__banner--matches")
rating1.append(rate.text.strip(""))

point=soup5a.find('td',class_="rankings-block__banner--points")
point1.append(point.text.strip("")[:5])

match=soup5a.find('td',class_="rankings-block__banner--rating u-text-right")
matches1.append(match.text.strip()[0:3])

In [41]:
print(team1,rating1,point1,matches1)

['New Zealand'] ['16'] ['2,051'] ['128']

In [42]:
df5_1a=pd.DataFrame({"Team":team1,"Team_Match":matches1,"Point":point1,"Team_Rating":rating1})

In [43]:
print(df5_1a)

          Team Team_Match  Point Team_Rating
0  New Zealand        128  2,051          16

In [44]:
team=[]
rating=[]

for i in soup5a.find_all("span",class_="u-hide-phablet")[1:]:
    team.append(i.text.strip())
    
for i in soup5a.find_all("td",class_="table-body__cell u-text-right rating"):
    rating.append(i.text.strip())

In [45]:
Matches_Points=[]
for i in soup5a.find_all("td",class_="table-body__cell u-center-text"):
    Matches_Points.append(i.text.strip())
    
Points=[]

for i in range(1,len(Matches_Points),2):
    Points.append(Matches_Points[i])

Matches=[]
for i in range(0,len(Matches_Points),2):
    Matches.append(Matches_Points[i])

print("\n",Points,"\n",Matches)

 ['3,226', '3,085', '2,005', '2,325', '2,111', '2,639', '2,658', '2,621', '1,238', '1,214', '1,025', '733', '603', '539', '919', '544', '369', '331', '134']
 ['27', '28', '19', '23', '21', '27', '29', '38', '18', '23', '23', '19', '18', '17', '30', '20', '15', '22', '22']

In [46]:
print(len(team),len(rating),len(Points),len(Matches))

19 19 19 19

In [47]:
df5_2a=pd.DataFrame({"Team":team,"Team_Match":Matches,"Point":Points,"Team_Rating":rating})

In [48]:
df5_2a.tail()

                Team Team_Match Point Team_Rating
14              Oman         30   919          31
15     United States         20   544          27
16           Namibia         15   369          25
17             Nepal         22   331          15
18  Papua New Guinea         22   134           6

In [49]:
frame=[df5_1a[0:],df5_2a[:9]]

In [50]:
final_5a=pd.concat(frame,ignore_index=True)

In [51]:
final_5a

           Team Team_Match  Point Team_Rating
0   New Zealand        128  2,051          16
1       England         27  3,226         119
2         India         28  3,085         110
3      Pakistan         19  2,005         106
4     Australia         23  2,325         101
5  South Africa         21  2,111         101
6    Bangladesh         27  2,639          98
7     Sri Lanka         29  2,658          92
8   West Indies         38  2,621          69
9   Afghanistan         18  1,238          69

In [52]:
#5B.. Top 10 ODI Batsmen along with the records of their team and rating

In [53]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
soup5b=BeautifulSoup(page.content)
page

In [54]:
name1=[]
team1=[]
rate1=[]

name=soup5b.find("div",class_="rankings-block__banner--name-large")
name1.append(name.text.strip()[0:16])

team=soup5b.find("div",class_="rankings-block__banner--nationality")
team1.append(team.text.strip()[0:3])

rating=soup5b.find("div",class_="rankings-block__banner--rating")
rate1.append(rating.text.strip())

print(name1,team1,rate1)

['Babar Azam'] ['PAK'] ['892']

In [55]:
print(len(name1),len(team1),len(rate1))

1 1 1

In [56]:
df5_1b=pd.DataFrame({"Player_Name":name1,"Team":team1,"Rating":rate1})

In [57]:
df5_1b

  Player_Name Team Rating
0  Babar Azam  PAK    892

In [58]:
name2=[]
team2=[]
rate2=[]

for i in soup5b.find_all("td",class_="table-body__cell rating")[:10]:
    rate2.append(i.text.strip())
    
for i in soup5b.find_all("td",class_="table-body__cell rankings-table__name name")[:10]:
    name2.append(i.text.strip())

for i in soup5b.find_all("span",class_="table-body__logo-text")[:10]:
    team2.append(i.text.strip())
print(len(name2),len(team2),len(rate2))

10 10 10

In [59]:
print(name2,"\n",
     team2,"\n",
     rate2,"\n")

['Imam-ul-Haq', 'Rassie van der Dussen', 'Quinton de Kock', 'Virat Kohli', 'Rohit Sharma', 'Ross Taylor', 'David Warner', 'Jonny Bairstow', 'Aaron Finch', 'Fakhar Zaman']
 ['PAK', 'SA', 'SA', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'AUS', 'PAK']
 ['815', '789', '784', '767', '763', '744', '737', '732', '715', '701']

In [60]:
df5_2b=pd.DataFrame({"Player_Name":name2,"Team":team2,"Rating":rate2})

In [61]:
df5_2b

             Player_Name Team Rating
0            Imam-ul-Haq  PAK    815
1  Rassie van der Dussen   SA    789
2        Quinton de Kock   SA    784
3            Virat Kohli  IND    767
4           Rohit Sharma  IND    763
5            Ross Taylor   NZ    744
6           David Warner  AUS    737
7         Jonny Bairstow  ENG    732
8            Aaron Finch  AUS    715
9           Fakhar Zaman  PAK    701

In [62]:
frame=[df5_1b[0:],df5_2b[0:9]]
final_df5b=pd.concat(frame,ignore_index=True,)

In [63]:
final_df5b

             Player_Name Team Rating
0             Babar Azam  PAK    892
1            Imam-ul-Haq  PAK    815
2  Rassie van der Dussen   SA    789
3        Quinton de Kock   SA    784
4            Virat Kohli  IND    767
5           Rohit Sharma  IND    763
6            Ross Taylor   NZ    744
7           David Warner  AUS    737
8         Jonny Bairstow  ENG    732
9            Aaron Finch  AUS    715

In [64]:
#5C Top 10 ODI bowlers along with the records of their team and rating.

In [65]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
soup_5C=BeautifulSoup(page.content)
page

In [66]:
name3=[]
team3=[]
rate3=[]

name=soup_5C.find("div",class_="rankings-block__banner--name-large")
name3.append(name.text.strip())

team=soup_5C.find("div",class_="rankings-block__banner--nationality")
team3.append(team.text.strip())

rate=soup_5C.find("div",class_="rankings-block__banner--rating")
rate3.append(rate.text.strip())

In [67]:
print(name3,team3,rate3)

['Trent Boult'] ['NZ'] ['697']

In [68]:
df=pd.DataFrame({"Bowler_Name":name3,"Team":team3,"Rating":rate3})

In [69]:
Name_3=[]
Team_3=[]
Rate_3=[]

for i in soup_5C.find_all("td",class_="table-body__cell rankings-table__name name")[:9]:
    Name_3.append(i.text.strip())
    
for i in soup_5C.find_all("span",class_="table-body__logo-text")[:9]:
    Team_3.append(i.text.strip())
    
for i in soup_5C.find_all("td",class_="table-body__cell rating")[:9]:
    Rate_3.append(i.text.strip())

In [70]:
print(Name_3,Team_3,Rate_3)

['Jasprit Bumrah', 'Shaheen Afridi', 'Josh Hazlewood', 'Mujeeb Ur Rahman', 'Mehedi Hasan', 'Matt Henry', 'Mohammad Nabi', 'Rashid Khan', 'Chris Woakes'] ['IND', 'PAK', 'AUS', 'AFG', 'BAN', 'NZ', 'AFG', 'AFG', 'ENG'] ['682', '681', '679', '676', '672', '663', '657', '651', '640']

In [71]:
print(len(Name_3),(len(Team_3)),(len(Rate_3)))

9 9 9

In [72]:
df2=pd.DataFrame({"Bowler_Name":Name_3,"Team":Team_3,"Rating":Rate_3})

In [73]:
df2

        Bowler_Name Team Rating
0    Jasprit Bumrah  IND    682
1    Shaheen Afridi  PAK    681
2    Josh Hazlewood  AUS    679
3  Mujeeb Ur Rahman  AFG    676
4      Mehedi Hasan  BAN    672
5        Matt Henry   NZ    663
6     Mohammad Nabi  AFG    657
7       Rashid Khan  AFG    651
8      Chris Woakes  ENG    640

In [74]:
frame=[df,df2]

In [75]:
finaldf_5c=pd.concat(frame,ignore_index=True)

In [76]:
finaldf_5c

        Bowler_Name Team Rating
0       Trent Boult   NZ    697
1    Jasprit Bumrah  IND    682
2    Shaheen Afridi  PAK    681
3    Josh Hazlewood  AUS    679
4  Mujeeb Ur Rahman  AFG    676
5      Mehedi Hasan  BAN    672
6        Matt Henry   NZ    663
7     Mohammad Nabi  AFG    657
8       Rashid Khan  AFG    651
9      Chris Woakes  ENG    640

In [77]:
#Q6. Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [78]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
soup6=BeautifulSoup(page.content)
page

In [79]:
Team=[]
Rate=[]

for i in soup6.find_all("span",class_="u-hide-phablet")[1:]:
    Team.append(i.text.strip())

for i in soup6.find_all("td",class_="table-body__cell u-text-right rating"):
    Rate.append(i.text.strip())

In [80]:
print(Team,"\n",Rate)

['England', 'South Africa', 'India', 'New Zealand', 'West Indies', 'Bangladesh', 'Pakistan', 'Sri Lanka', 'Ireland', 'Zimbabwe']
 ['123', '119', '101', '97', '92', '78', '65', '45', '44', '0']

In [81]:
Match=[]
for i in soup6.find_all("td",class_="table-body__cell u-center-text"):
    Match.append(i.text.strip())

In [82]:
print(Match)

['33', '4,046', '35', '4,157', '32', '3,219', '31', '3,019', '30', '2,768', '12', '930', '30', '1,962', '11', '495', '8', '351', '8', '0']

In [83]:
Points=[]
for i in range(1,len(Match),2):
    Points.append(Match[i])

Matches=[]

for i in range(0,len(Match),2):
    Matches.append(Match[i])
    
print(Points,"\n \n",Matches)

['4,046', '4,157', '3,219', '3,019', '2,768', '930', '1,962', '495', '351', '0']

 ['33', '35', '32', '31', '30', '12', '30', '11', '8', '8']

In [84]:
print(len(Team),len(Points),len(Matches),len(Rate))

10 10 10 10

In [85]:
df6_1a=pd.DataFrame({"Team_Name":Team,"Matches":Matches,"Points":Points,"Rating":Rate})

In [86]:
df6_1a

      Team_Name Matches Points Rating
0       England      33  4,046    123
1  South Africa      35  4,157    119
2         India      32  3,219    101
3   New Zealand      31  3,019     97
4   West Indies      30  2,768     92
5    Bangladesh      12    930     78
6      Pakistan      30  1,962     65
7     Sri Lanka      11    495     45
8       Ireland       8    351     44
9      Zimbabwe       8      0      0

In [87]:
team=[]
match=[]
point=[]
rate=[]

t=soup6.find("span",class_="u-hide-phablet")
team.append(t.text.strip())

m=soup6.find("td",class_="rankings-block__banner--matches")
match.append(m.text.strip())

p=soup6.find("td",class_="rankings-block__banner--points")
point.append(p.text.strip())

r=soup6.find("td",class_="rankings-block__banner--rating u-text-right")
rate.append(r.text.strip())

In [88]:
print(team,match,point,rate)

['Australia'] ['29'] ['4,837'] ['167']

In [89]:
df6_2a=pd.DataFrame({"Team_Name":team,"Matches":match,"Points":point,"Rating":rate})

In [90]:
df6_2a

   Team_Name Matches Points Rating
0  Australia      29  4,837    167

In [91]:
frame=[df6_2a[0:],df6_1a[0:9]]

In [92]:
final_df6=pd.concat(frame,ignore_index=True)

In [93]:
final_df6

      Team_Name Matches Points Rating
0     Australia      29  4,837    167
1       England      33  4,046    123
2  South Africa      35  4,157    119
3         India      32  3,219    101
4   New Zealand      31  3,019     97
5   West Indies      30  2,768     92
6    Bangladesh      12    930     78
7      Pakistan      30  1,962     65
8     Sri Lanka      11    495     45
9       Ireland       8    351     44

In [94]:
# 6B. Top 10 women’s ODI Batting players along with the records of their team and rating.

In [95]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
soup6b=BeautifulSoup(page.content)
page

In [96]:
Name=[]
Team=[]
Rate=[]

name=soup6b.find('div',class_="rankings-block__banner--name")
Name.append(name.text.strip())

team=soup6b.find('div',class_="rankings-block__banner--nationality")
Team.append(team.text.replace("\n","")[:3])

rate=soup6b.find('div',class_="rankings-block__banner--rating")
Rate.append(rate.text.strip())

In [97]:
print(Name,Team,Rate)

['Alyssa Healy'] ['AUS'] ['785']

In [98]:
df6_1b=pd.DataFrame({"Player_Name":Name,"Team":Team,"Rating":Rate})

In [99]:
df6_1b

    Player_Name Team Rating
0  Alyssa Healy  AUS    785

In [100]:
name=[]
team=[]
rate=[]

for i in soup6b.find_all("td",class_="table-body__cell name")[:9]:
    name.append(i.text.strip())

for i in soup6b.find_all("span",class_="table-body__logo-text")[:9]:
    team.append(i.text.strip())
    
for i in soup6b.find_all("td",class_="table-body__cell u-text-right rating")[:9]:
    rate.append(i.text.strip())

In [101]:
print(name,"\n \n",team,"\n \n",rate)

['Beth Mooney', 'Natalie Sciver', 'Laura Wolvaardt', 'Meg Lanning', 'Rachael Haynes', 'Amy Satterthwaite', 'Tammy Beaumont', 'Chamari Athapaththu', 'Smriti Mandhana']

 ['AUS', 'ENG', 'SA', 'AUS', 'AUS', 'NZ', 'ENG', 'SL', 'IND']

 ['749', '747', '732', '710', '701', '681', '667', '655', '649']

In [102]:
df6_2b=pd.DataFrame({"Player_Name":name,"Team":team,"Rating":rate})

In [103]:
df6_2b

           Player_Name Team Rating
0          Beth Mooney  AUS    749
1       Natalie Sciver  ENG    747
2      Laura Wolvaardt   SA    732
3          Meg Lanning  AUS    710
4       Rachael Haynes  AUS    701
5    Amy Satterthwaite   NZ    681
6       Tammy Beaumont  ENG    667
7  Chamari Athapaththu   SL    655
8      Smriti Mandhana  IND    649

In [104]:
final_df6b=pd.concat([df6_1b,df6_2b],ignore_index=True)

In [105]:
final_df6b

           Player_Name Team Rating
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    749
2       Natalie Sciver  ENG    747
3      Laura Wolvaardt   SA    732
4          Meg Lanning  AUS    710
5       Rachael Haynes  AUS    701
6    Amy Satterthwaite   NZ    681
7       Tammy Beaumont  ENG    667
8  Chamari Athapaththu   SL    655
9      Smriti Mandhana  IND    649

In [106]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
soup6C=BeautifulSoup(page.content)
page

In [107]:
Name=[]
Team=[]
Rating=[]

name=soup6C.find("div",class_="rankings-block__banner--name-large")
Name.append(name.text)

team=soup6C.find("div",class_="rankings-block__banner--nationality")
Team.append(team.text.strip())

rate=soup6C.find("div",class_="rankings-block__banner--rating")
Rating.append(rate.text.strip())

In [108]:
df=pd.DataFrame({"All-rounder_Name":Name,"Team":Team,"Rating":Rating})
df

  All-rounder_Name Team Rating
0   Natalie Sciver  ENG    379

In [109]:
Names=[]
Teams=[]
Ratings=[]

for i in soup6C.find_all("td",class_="table-body__cell rankings-table__name name")[:12]:
    Names.append(i.text.strip())

for i in soup6C.find_all("span",class_="table-body__logo-text")[:12]:
    Teams.append(i.text.strip())
    
for i in soup6C.find_all("td",class_="table-body__cell rating")[:12]:
    Ratings.append(i.text.strip())

In [110]:
print(len(Names),len(Teams),len(Ratings))

12 12 12

In [111]:
df1=pd.DataFrame({"All-rounder_Name":Names,"Team":Teams,"Rating":Ratings})
df1

     All-rounder_Name Team Rating
0        Ellyse Perry  AUS    374
1      Marizanne Kapp   SA    349
2     Hayley Matthews   WI    339
3         Amelia Kerr   NZ    336
4    Ashleigh Gardner  AUS    270
5       Deepti Sharma  IND    252
6       Jess Jonassen  AUS    246
7     Katherine Brunt  ENG    220
8     Stafanie Taylor   WI    207
9      Jhulan Goswami  IND    205
10  Sophie Ecclestone  ENG    202
11      Sophie Devine   NZ    202

In [112]:
final_df=pd.concat([df[:1],df1[:9]],ignore_index=True)

In [113]:
final_df

   All-rounder_Name Team Rating
0    Natalie Sciver  ENG    379
1      Ellyse Perry  AUS    374
2    Marizanne Kapp   SA    349
3   Hayley Matthews   WI    339
4       Amelia Kerr   NZ    336
5  Ashleigh Gardner  AUS    270
6     Deepti Sharma  IND    252
7     Jess Jonassen  AUS    246
8   Katherine Brunt  ENG    220
9   Stafanie Taylor   WI    207

7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
i) Headline
ii) Time
iii) News Link

In [114]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
page=requests.get("https://www.cnbc.com/world/?region=world")
soup=BeautifulSoup(page.content, "html.parser")
print(page)

Headline=[]

for i in soup.find_all("div",class_="LatestNews-container"):
    Headline.append((i.find("a").text.strip()).replace(" ''",""))
Time=[]

for i in soup.find_all("time",class_="LatestNews-timestamp"):
    Time.append(i.text.strip())

Link=[]

for i in soup.find_all("div",class_="LatestNews-container"):
    Link.append(i.find("a").get("href").strip(''))

<Response [200]>

In [115]:
print(len(Headline),len(Time),len(Link))

30 30 30

In [116]:
df=pd.DataFrame({"Headlines":Headline[0:30],"Time":Time[0:30],"News_Link":Link[0:30]})

In [117]:
df

,Headlines,Time,News_Link
0,The best and worst places to live in the world...,2 Hours Ago,https://www.cnbc.com/2022/08/07/global-liveabi...
1,"George Clooney had tequila, Ryan Reynolds gin....",4 Hours Ago,https://www.cnbc.com/2022/08/07/george-clooney...
2,9 corporate leaders share their best hacks for...,4 Hours Ago,https://www.cnbc.com/2022/08/07/9-busy-people-...
3,Bethenny Frankel: The most successful people h...,5 Hours Ago,https://www.cnbc.com/2022/08/07/bethenny-frank...
4,The 7 states with the least credit card debt,5 Hours Ago,https://www.cnbc.com/2022/08/07/states-with-th...
5,,5 Hours Ago,/pro/
6,,5 Hours Ago,/pro/
7,,5 Hours Ago,/pro/
8,Some consumers are cutting back on restaurant ...,6 Hours Ago,https://www.cnbc.com/2022/08/07/consumers-are-...
9,Climate change is making some homes to costly ...,6 Hours Ago,https://www.cnbc.com/2022/08/07/climate-change...
10,Why creating a horror movie haven on Netflix m...,7 Hours Ago,https://www.cnbc.com/2022/08/07/netflix-may-be...
11,Elon Musk challenges Twitter CEO Parag Agrawal...,21 Hours Ago,https://www.cnbc.com/2022/08/06/elon-musk-chal...
12,Large Indiana employers Eli Lilly and Cummins ...,22 Hours Ago,https://www.cnbc.com/2022/08/06/eli-lilly-says...
13,"Czech prince raises $300,000 in NFTs to restor...","August 6, 2022",https://www.cnbc.com/2022/08/06/27-year-old-bo...
14,President Joe Biden tests negative for Covid-1...,"August 6, 2022",https://www.cnbc.com/2022/08/06/president-joe-...
15,Fed Governor Bowman sees 'similarly sized' int...,"August 6, 2022",https://www.cnbc.com/2022/08/06/fed-governor-b...
16,This 39-year-old makes $160K/month in passive ...,"August 6, 2022",https://www.cnbc.com/2022/08/06/this-39-year-o...
17,,"August 6, 2022",/pro/
18,5 tips for cutting down on credit card costs a...,"August 6, 2022",https://www.cnbc.com/2022/08/06/how-to-curb-cr...
19,This 41-year-old left the U.S. for Bangkok and...,"August 6, 2022",https://www.cnbc.com/2022/08/06/this-digital-n...
20,,"August 6, 2022",/pro/
21,Here's why getting fired from a job you hate c...,"August 6, 2022",https://www.cnbc.com/2022/08/06/therapist-gett...
22,'Stressed out' STD clinics struggle with surge...,"August 6, 2022",https://www.cnbc.com/2022/08/06/monkeypox-std-...
23,Want to build generational wealth? Avoid these...,"August 6, 2022",https://www.cnbc.com/2022/08/06/building-gener...
24,,"August 6, 2022",/pro/
25,,"August 6, 2022",/pro/
26,"Berkshire reports operating earnings surge, bu...","August 6, 2022",https://www.cnbc.com/2022/08/06/berkshire-hath...
27,Why the best states for business may be the wo...,"August 6, 2022",https://www.cnbc.com/2022/08/06/state-worker-p...
28,"Higher prices, skimpier portions and apps — ho...","August 6, 2022",https://www.cnbc.com/2022/08/06/higher-prices-...
29,What to know before 'unretiring' if you're on ...,"August 6, 2022",https://www.cnbc.com/2022/08/06/social-securit...

Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details :

i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [118]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

page=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
soup8=BeautifulSoup(page.content,"html.parser")
page

In [119]:
PaperTitle=[]

for i in soup8.find_all("h2",class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    PaperTitle.append(i.text.strip())
PaperTitle

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

In [120]:
Authors=[]

for i in soup8.find_all("p",class_="sc-1thf9ly-0 sc-1thf9ly-1 ljBYfY bIzabL"):
    Authors.append(i.find("span").text.strip())
Authors

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S.',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni',
 'Boden, Margaret A.',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R.',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark',
 'Bench-Capon, T.J.M., Dunne, Paul E.',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat',
 'Arora, Saurabh, Doshi, Prashant',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.',
 'Riveiro, Maria, Thill, Serge',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T.',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin',
 'Kohavi, Ron, John, George H.',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna',
 'Ying, Mingsheng']

In [121]:
Published=[]

for i in soup8.find_all("span",class_="sc-1thf9ly-2 bKddwo"):
    Published.append(i.text)
    
Published

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [122]:
P_link=[]

for i in soup8.find_all("li",class_="sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp"):
    P_link.append(i.find("a").get("href"))
P_link

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [123]:
print(len(PaperTitle),len(Authors),len(Published),len(P_link))

25 25 25 25

In [124]:
df=pd.DataFrame({ "Paper Title":PaperTitle,"Authors":Authors,"Published Date": Published,"Paper URL": P_link})

In [125]:
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [126]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

page=requests.get("https://www.dineout.co.in/kolkata-restaurants?loc=Kolkata")
soup=BeautifulSoup(page.content)
page

In [127]:
Restaurant=[]
Location=[]
Ratings=[]
Image=[]

for i in soup.find_all("div",class_="restnt-info cursor"):
    Restaurant.append(i.find("a").text.split('(')[0])

In [128]:
for i in soup.find_all("div",class_="restnt-loc ellipsis"):
    Location.append(i.find("a").text.strip("("))

In [129]:
Cuisine=[]
for i in soup.find_all("span",class_="double-line-ellipsis"):
    Cuisine.append((i.text.strip()[23:]).replace("|",""))

In [130]:
for i in soup.find_all("div",class_="restnt-rating rating-4"):
    Ratings.append(i.text)

In [131]:
for i in soup.find_all("img",class_="no-img"):
    Image.append(i["data-src"])

In [132]:
rate=soup.find("div",class_="restnt-rating rating-5")
Ratings.insert(5,rate.text)

In [133]:
rate=soup.find("div",class_="restnt-rating rating-5")
Ratings.insert(20,rate.text)

In [134]:
print(len(Restaurant),len(Location),len(Ratings),len(Image))

21 21 21 21

In [135]:
pd.DataFrame({"Restaurants":Restaurant,"Cuisines":Cuisine,"Locations":Location,"Ratings":Ratings,"Image_URL":Image})

,Restaurants,Cuisines,Locations,Ratings,Image_URL
0,Zobet,"Modern Indian, Sushi, Fast Food, Asian","Fort Knox Mall,",4.4,https://im1.dineout.co.in/images/uploads/resta...
1,Pawan Putra,"Chinese, North Indian, Continental",Kankurgachhi,4.2,https://im1.dineout.co.in/images/uploads/resta...
2,Jungle Safari,"North Indian, Italian","Mani Square,",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Zaairah,"North Indian, Chinese, Italian",Salt Lake,4.2,https://im1.dineout.co.in/images/uploads/resta...
4,Caafe 360 Degree,"Fast Food, Chinese, Italian",Kankurgachhi,4.4,https://im1.dineout.co.in/images/uploads/resta...
5,Fly Kouzina,"North Indian, Chinese, Continental",Salt Lake,4.5,https://im1.dineout.co.in/images/uploads/resta...
6,K Local,"Finger Food, North Indian, Fast Food","City Centre 1,",4,https://im1.dineout.co.in/images/uploads/resta...
7,Goofys Cafe,"North Indian, Chinese, Italian, Continental, ...",Maniktala,4.4,https://im1.dineout.co.in/images/uploads/resta...
8,Flame & Grill,"North Indian, Bengali","Mani Square,",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,The Bikers Cafe,"Continental, Italian, North Indian","Platinum Mall,",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Uno Pizzeria & Grill,"American, Italian, Continental",Kankurgachhi,4.4,https://im1.dineout.co.in/images/uploads/resta...
11,One8 Commune,"North Indian, Italian, Continental",Park Street,4.4,https://im1.dineout.co.in/images/uploads/resta...
12,The Tunnel,"Chinese, North Indian, Continental",Kankurgachhi,4.2,https://im1.dineout.co.in/images/uploads/resta...
13,Danish Restaurant,"Mughlai, North Indian",Machuabazar,4.4,https://im1.dineout.co.in/images/uploads/resta...
14,Fantastic Food Story,"Chinese, North Indian, Continental",Hati Bagan,4.2,https://im1.dineout.co.in/images/uploads/resta...
15,The Loop Cafe and Restaurant,"Italian, Chinese, Fast Food, Mexican",Kankurgachhi,4.3,https://im1.dineout.co.in/images/uploads/resta...
16,Haka,Chinese,"Mani Square,",4.2,https://im1.dineout.co.in/images/uploads/resta...
17,The Sugarr and Spice,Desserts,Maniktala,3.5,https://im1.dineout.co.in/images/uploads/resta...
18,Chai Break,"Chinese, Italian, Beverages, Fast Food, North ...",Kankurgachhi,4.4,https://im1.dineout.co.in/images/uploads/resta...
19,Monginis,"Desserts, Fast Food",Kankurgachhi,4.4,https://im1.dineout.co.in/images/uploads/resta...
20,Cloud Social,"North Indian, Fast Food, Beverages",Rashbehari Avenue,4.5,https://im1.dineout.co.in/images/uploads/resta...

10) Write a python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en
i) Rank
ii) Publication
iii) h5-index
iv) h5-median

In [136]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
page=requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")
print(page)
soup=BeautifulSoup(page.content)

<Response [200]>

In [137]:
Rank=[]
Publications=[]

for i in soup.find_all("td",class_="gsc_mvt_p")[0:]:
    Rank.append(i.text.strip())

In [138]:
for i in soup.find_all("td",class_="gsc_mvt_t"):
    Publications.append(i.text.strip())
print(Publications)

['Nature', 'The New England Journal of Medicine', 'Science', 'IEEE/CVF Conference on Computer Vision and Pattern Recognition', 'The Lancet', 'Advanced Materials', 'Nature Communications', 'Cell', 'International Conference on Learning Representations', 'Neural Information Processing Systems', 'JAMA', 'Chemical Reviews', 'Proceedings of the National Academy of Sciences', 'Angewandte Chemie', 'Chemical Society Reviews', 'Journal of the American Chemical Society', 'IEEE/CVF International Conference on Computer Vision', 'Nucleic Acids Research', 'International Conference on Machine Learning', 'Nature Medicine', 'Renewable and Sustainable Energy Reviews', 'Science of The Total Environment', 'Advanced Energy Materials', 'Journal of Clinical Oncology', 'ACS Nano', 'Journal of Cleaner Production', 'Advanced Functional Materials', 'Physical Review Letters', 'Scientific Reports', 'The Lancet Oncology', 'Energy & Environmental Science', 'IEEE Access', 'PLoS ONE', 'Science Advances', 'Journal of the American College of Cardiology', 'Applied Catalysis B: Environmental', 'Nature Genetics', 'BMJ', 'Circulation', 'European Conference on Computer Vision', 'International Journal of Molecular Sciences', 'Nature Materials', 'Chemical engineering journal', 'AAAI Conference on Artificial Intelligence', 'Journal of Materials Chemistry A', 'ACS Applied Materials & Interfaces', 'Nature Biotechnology', 'The Lancet Infectious Diseases', 'Frontiers in Immunology', 'Applied Energy', 'Nano Energy', 'Nature Energy', 'Meeting of the Association for Computational Linguistics (ACL)', 'The Astrophysical Journal', 'Gastroenterology', 'Nature Methods', 'IEEE Transactions on Pattern Analysis and Machine Intelligence', 'Cochrane Database of Systematic Reviews', 'Blood', 'Neuron', 'Nano Letters', 'Morbidity and Mortality Weekly Report', 'European Heart Journal', 'Nature Nanotechnology', 'ACS Catalysis', 'Nature Neuroscience', 'American Economic Review', 'Journal of High Energy Physics', 'IEEE Communications Surveys & Tutorials', 'Annals of Oncology', 'Nutrients', 'Accounts of Chemical Research', 'Immunity', 'Environmental Science & Technology', 'Nature Reviews. Molecular Cell Biology', 'Gut', 'Physical Review D', 'ACS Energy Letters', 'Monthly Notices of the Royal Astronomical Society', 'Conference on Empirical Methods in Natural Language Processing (EMNLP)', 'Clinical Infectious Diseases', 'Cell Metabolism', 'Nature Reviews Immunology', 'Joule', 'Nature Photonics', 'International Journal of Environmental Research and Public Health', 'Environmental Pollution', 'Computers in Human Behavior', 'Frontiers in Microbiology', 'Nature Physics', 'Small', 'Cell Reports', 'Molecular Cell', 'Clinical Cancer Research', 'Bioresource Technology', 'Journal of Business Research', 'Molecular Cancer', 'Sensors', 'Nature Climate Change', 'IEEE Internet of Things Journal']

In [139]:
Mixbox=[]

for i in soup.find_all("td",class_="gsc_mvt_n"):
    Mixbox.append(i.text.strip())

In [140]:
h5_index=[]

for i in range(0,len(Mixbox),2):
    h5_index.append(Mixbox[i])

In [141]:
h5_median=[]

for i in range(1,len(Mixbox),2):
    h5_median.append(Mixbox[i])

In [142]:
print(len(Rank),len(Publications),len(h5_index),len(h5_median))

100 100 100 100

In [143]:
df=pd.DataFrame({"Rank":Rank,"Publication":Publications,"H5-Index":h5_index,"H5-Median":h5_median})

In [144]:
df

    Rank                                        Publication H5-Index H5-Median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]