Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

    This task will be done in following steps:
      1. First get the webpage https://www.naukri.com/
      2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
      3. Then click the search button.
      4. Then scrape the data for the first 10 jobs results you get.
      5. Finally create a dataframe of the scraped data.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
import time
import warnings
warnings.filterwarnings("ignore")

In [2]:
#calling driver
driver=webdriver.Edge(r'C:\Users\jitsa\Downloads\msedgedriver.exe')
driver.get('https://www.naukri.com/')

In [3]:
#searching Data Analyst
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[1]/div/div/div/input')
designation.send_keys("Data Analyst")

In [4]:
# Searching by loc
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input") # Location---> Keys
location.send_keys("Bangalore") #location values

In [5]:
#Submit Query
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [6]:
#scrape job
Job_title=[]

title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis" ]')
for i in title_tag[0:10]:
    title=i.text
    Job_title.append(title)

company_name=[] #scrape company

name_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in name_tag[0:10]:
    name=i.text
    company_name.append(name)
    
job_rating=[] #job_rating

rate_tag=driver.find_elements(By.XPATH,'//span[@class="starRating fleft dot"]')
for i in rate_tag[0:10]:
    rate=i.text
    job_rating.append(rate)
    
job_location=[] #job_location

location_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tag[0:10]:
    loc=i.text
    job_location.append(loc)
    
experience_required=[]#experience_required

experience_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tag[0:10]:
    exp=i.text
    experience_required.append(exp)

In [7]:
print(len(Job_title),len(company_name),len(job_rating),len(job_location),len(experience_required))

10 10 10 10 10

In [8]:
df=pd.DataFrame({'Job_title':Job_title,'Company_name':company_name,'Job_rating':job_rating,'Job_location':job_location,'experience_required':experience_required})

In [9]:
df

,Job_title,Company_name,Job_rating,Job_location,experience_required
0,Senior Data Analyst,KrazyBee,4.0,Bangalore/Bengaluru(Old Madras Road),3-6 Yrs
1,Sr. Data Analyst,Global Indian School Education Services,4.2,"Bangalore/Bengaluru, Pune",6-11 Yrs
2,Master Data Management Business Analyst,Accenture,4.2,Bangalore/Bengaluru,6-8 Yrs
3,Senior Data Analyst,Optum,4.1,Bangalore/Bengaluru,5-7 Yrs
4,Intern Data Analyst,FullStackTechies,4.0,Bangalore/Bengaluru,0-1 Yrs
5,Data Analyst - Python/Artificial Intelligence,iMindYourBusiness,4.3,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",0-2 Yrs
6,Lead Data Analyst,McAfee,4.1,Bangalore/Bengaluru,5-9 Yrs
7,Data Analyst,Bayer,3.7,Bangalore/Bengaluru,2-5 Yrs
8,Leap COE Intern(Data Analyst),Info Origin Inc.,4.1,Bangalore/Bengaluru,0-1 Yrs
9,Forecasting Analyst/ Data Scientist (US Client),Concentrix,4.6,"Bangalore/Bengaluru, Gurgaon/Gurugram\n(WFH du...",3-8 Yrs

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. 

You have to scrape first 10 jobs data.

    This task will be done in following steps:
    1. First get the webpage https://www.naukri.com/
    2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
       location” field.
    3. Then click the search button.
    4. Then scrape the data for the first 10 jobs results you get.
    5. Finally create a dataframe of the scraped data.

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
#locate driver
driver=webdriver.Edge(r'msedgedriver.exe')

C:\Users\jitsa\AppData\Local\Temp\ipykernel_4712\4067547147.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Edge(r'msedgedriver.exe')

In [4]:
#search webpage
driver.get("https://www.naukri.com/")

In [5]:
# enter search
designation=driver.find_element(By.XPATH,'//*[@id="root"]/div[2]/div[3]/div/div/div[1]/div/div/div/input')
designation.send_keys('Data Scientist')

# enter location
location=driver.find_element(By.XPATH,'//*[@id="root"]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
location.send_keys("Bangalore")

#Submit Query
search=driver.find_element(By.XPATH,'//*[@id="root"]/div[2]/div[3]/div/div/div[6]')
search.click()

In [6]:
#forming list
Job_title=[]
Location=[]
Experience=[]
Rating=[]
Company_N=[]

In [7]:
Company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in Company[0:10]:
    Company_N.append(i.text)
print(Company_N)

['TATA CONSULTANCY SERVICES (TCS)', 'PwC', 'Accenture', 'TATA CONSULTANCY SERVICES (TCS)', 'Wipro', 'NTT DATA Business Solutions Private Limited', 'Wipro', 'Conduent', 'CitiusTech', 'ZS Associates']

In [8]:
#Job title
job_title=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in job_title[0:10]:
    job=i.text
    Job_title.append(job)

# Job location
loc_title=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]//span')
for i in loc_title[0:10]:
    loc=i.text
    Location.append(loc)

# Job experience
Exp_title=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in Exp_title[0:10]:
    Exp=i.text
    Experience.append(Exp)
    
#Job rating
rate_job=driver.find_elements(By.XPATH,'//span[@class="starRating fleft dot"]')
for i in rate_job[0:10]:
    rate=i.text
    Rating.append(rate)

In [9]:
print(len(Company_N),len(Job_title),len(Location),len(Experience),len(Rating))

10 10 10 10 10

In [10]:
df2=pd.DataFrame({'Company_Name':Company_N,'JOB_TITLE':Job_title,'Rating':Rating,'Location':Location,'Experience':Experience})

In [11]:
df2

,Company_Name,JOB_TITLE,Rating,Location,Experience
0,TATA CONSULTANCY SERVICES (TCS),Tcs Hiring For Data Scientist,3.9,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",3-8 Yrs
1,PwC,Senior Manager - EmTech - Machine Learning - P&T,3.8,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",5-12 Yrs
2,Accenture,Analystics & Modeling Specialist,4.2,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",6-8 Yrs
3,TATA CONSULTANCY SERVICES (TCS),Data scientist _Tata Consultancy Services(Tcs),3.9,"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",9-14 Yrs
4,Wipro,Job||Job Opening For AI Technologist - Data Sc...,3.9,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",5-10 Yrs
5,NTT DATA Business Solutions Private Limited,Hiring For DATA Scientist @ NTT DATA Business ...,3.9,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",4-9 Yrs
6,Wipro,Urgent Job Opening For AI Practitioner - Data ...,3.9,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",11-20 Yrs
7,Conduent,Data Scientist Python,3.6,"Bangalore/Bengaluru, Hyderabad/Secunderabad",3-7 Yrs
8,CitiusTech,Assistant Manager - Data Science,4.0,"Bangalore/Bengaluru, Mumbai, Pune",5-9 Yrs
9,ZS Associates,Data Scientist,3.8,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",5-8 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

1.You have to use the location and salary filter.
2.You have to scrape data for “Data Scientist” designation for first 10 job results.
3.You have to scrape the job-title, job-location, company name, experience required.
4.The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")

In [2]:
#driver
driver=webdriver.Edge('msedgedriver.exe')

In [3]:
# locate webpage
driver.get("https://www.naukri.com/")

In [4]:
#Enter Search
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

#submit Query
Search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
Search.click()

In [5]:
#filter location
loc=driver.find_element(By.XPATH,"//*[@id='root']/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[5]/a")
loc.click()

In [6]:
#Set loacation
delhi_ncr=driver.find_element(By.XPATH,"//*[@id='tooltip']/div[2]/div[1]/div/div[1]/div[3]/label/i")
delhi_ncr.click()

In [7]:
apply1=driver.find_element(By.CLASS_NAME,"filter-apply-btn")
apply1.click()

In [9]:
salary=driver.find_element(By.XPATH,'//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
salary.click()

In [10]:
#empty list
Job_Type=[]
Company=[]
Location=[]
Ratings=[]

Job_title=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in Job_title[0:10]:
    job=i.text
    Job_Type.append(job)
    
Com_title=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in Com_title[0:10]:
    co=i.text
    Company.append(co)
    
Loc_title=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in Loc_title[0:10]:
    loc=i.text
    Location.append(loc)
    
Rate_title=driver.find_elements(By.XPATH,'//span[@class="starRating fleft dot"]')
for i in Rate_title[0:10]:
    rate=i.text
    Ratings.append(rate)

In [11]:
print(len(Job_Type),len(Company),len(Location),len(Ratings))

10 10 10 10

In [12]:
df3=pd.DataFrame({'Job_Title':Job_Type,'Company_Name':Company,'Location':Location,'Ratings':Ratings})

In [13]:
df3

,Job_Title,Company_Name,Location,Ratings
0,Job||Job Opening For AI Technologist - Data Sc...,Wipro,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",3.9
1,Data Scientist - Noida/Bangalore,EXL,"Noida, Bangalore/Bengaluru",3.8
2,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,"New Delhi, Bangalore/Bengaluru",4.1
3,Data Scientist - Predictive Analytics,Confidential,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",4.1
4,Data Scientist,Optum,Gurgaon/Gurugram,4.2
5,Chat-bot Developer / Data Scientist,Big Seo Buzz,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",4.0
6,Data Scientist / Chat-bot Developer,Big Seo Buzz,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",4.1
7,Data Scientist - Engine Algorithm,Primo Hiring,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",3.6
8,Data Scientist For Healthcare Product team,SECUREKLOUD TECHNOLOGIES,"Delhi / NCR, Chennai, Bangalore/Bengaluru",3.5
9,Data Scientist,Celebal Technologies,"Noida, Gurgaon/Gurugram, Jaipur",5.0

Q4:
Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")

In [2]:
# calling driver
driver=webdriver.Edge(r"msedgedriver.exe")

# find web page
driver.get("https://www.flipkart.com")

In [3]:
# closing unwanted pop-out

close_tab=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close_tab.click()

In [4]:
# Enter search
search=driver.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys("Sunglasses")

In [5]:
path=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
path.click()

In [6]:
#fetch by url brand
url_brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
url_brand[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="a636502c90b40e21a7e72c41b63290af", element="a2a64d56-a0a4-4f6a-bf1e-55600422064d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a636502c90b40e21a7e72c41b63290af", element="5787a103-17ba-4a4c-95c4-6f606008313d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a636502c90b40e21a7e72c41b63290af", element="46226e21-483c-4efc-be99-bb7135f1a844")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a636502c90b40e21a7e72c41b63290af", element="a6732480-758b-4fb8-baaa-ef1c8766ed9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a636502c90b40e21a7e72c41b63290af", element="243da29b-6813-4eb7-a57d-5f1123a5a3ef")>]

In [7]:
#fetch price
url_price=driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]')
url_price[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="a636502c90b40e21a7e72c41b63290af", element="d18ee197-1ef8-4d2d-9b5b-0358369af1eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a636502c90b40e21a7e72c41b63290af", element="1e43e529-616a-4603-836d-66da492bf708")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a636502c90b40e21a7e72c41b63290af", element="1761fe9b-3343-41b3-b1bc-21fcfbad4589")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a636502c90b40e21a7e72c41b63290af", element="28cacc13-352b-4891-8adb-7846787f95b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a636502c90b40e21a7e72c41b63290af", element="658bcad6-bebb-4a37-bb7e-dccad4eb31cd")>]

In [8]:
#checking= urls
url_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
url_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="a636502c90b40e21a7e72c41b63290af", element="b0b7f183-8171-468d-b7bc-dc191c6a5747")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a636502c90b40e21a7e72c41b63290af", element="5be99eed-1964-4a91-bc8f-cb7c2eb56b95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a636502c90b40e21a7e72c41b63290af", element="f1833382-6429-4840-8967-f93ce5dcb632")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a636502c90b40e21a7e72c41b63290af", element="e6cc8336-0c38-4a26-88b1-74a4a2902267")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a636502c90b40e21a7e72c41b63290af", element="386f595c-fc44-4756-a7aa-6a4f6b07e5aa")>]

In [9]:
next_url=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
next_url[0:5]

In [10]:
# Brand Name (fetch all the Url)
Brand_Name=[]
start=0
end=4

for i in range(start,end):
    B_title=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in B_title:
        Brand_Name.append(i.text)
        
    time.sleep(3)
len(Brand_Name)

160

In [11]:
# checking product category
Product_Description=[]

for i in range(start,end):
    P_title=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in P_title:
        Product_Description.append(i.text)
    
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
print(len(Product_Description))

160

In [12]:
# checking price
Price=[]

for i in range(start,end):
    r_title=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in r_title:
        Price.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
len(Price)

160

In [13]:
#appending discount

Discount=[]
for i in range(start,end):
    dis_title=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
    for i in dis_title:
        Discount.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    
    time.sleep(3)
len(Discount)

160

In [16]:
df4=pd.DataFrame({'Brand_Name':Brand_Name[0:100],'Product_Description':Product_Description[0:100],'Product_Price':Price[0:100],'Discount':Discount[0:100]})

In [17]:
df4

,Brand_Name,Product_Description,Product_Price,Discount
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...","₹1,415",29% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹999,50% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
3,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹204,79% off
4,SRPM,UV Protection Wayfarer Sunglasses (50),₹211,83% off
...,...,...,...,...
95,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...","₹1,049",47% off
96,NuVew,"Riding Glasses, Night Vision Spectacle Sunglas...",₹199,80% off
97,ROZZETTA CRAFT,UV Protection Shield Sunglasses (Free Size),₹719,75% off
98,Fastrack,"Polarized, Riding Glasses Sports, Wrap-around ...",₹499,20% off
99,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹949,52% off

-----------------

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Edge(r"msedgedriver.exe")
driver.get(r"https://www.flipkart.com")

In [3]:
close_tab=driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]')
close_tab.click()

In [4]:
search=driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
search.send_keys("iphone 11")

In [5]:
search_find=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_find.click()

In [6]:
phone_link=driver.find_element(By.XPATH,'//div[@class="_4rR01T"]')
phone_link.click()

In [7]:
driver.switch_to.window(driver.window_handles[1])

In [8]:
all_reviews=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div')
all_reviews.click()

In [9]:
Ratings=[]
start=0
end=20
for i in range(start,end):
    for i in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]'):
        Ratings.append(i.text)
    
print(len(Ratings))

200

In [10]:
Review_Summary=[]
for i in range(start,end):
    for i in driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]'):
        Review_Summary.append(i.text)

len(Review_Summary)

200

In [11]:
Full_comment=[]

for i in range(start,end):
    for i in driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]'):
        Full_comment.append(i.text.strip())
        
len(Full_comment)

200

In [12]:
df5=pd.DataFrame({"Phone Ratings": Ratings[0:100],'Review_Summary':Review_Summary[0:100],'Full_Comments':Full_comment[0:100]})

In [13]:
df5

,Phone Ratings,Review_Summary,Full_Comments
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,5,Highly recommended,It's my first time to use iOS phone and I am l...
99,4,Good choice,So far it’s been an AMAZING experience coming ...

Q6.
Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")

In [2]:
# calling driver
driver=webdriver.Edge(r"msedgedriver.exe")

#web search
driver.get("https://www.flipkart.com")

In [3]:
#closing pop out
escape=driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]')
escape.click()

In [4]:
#Query
search=driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
search.send_keys("sneakers")

#Query search 
find=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
find.click()

In [5]:
start=0
end=3

Brand=[]

for i in range(start,end):
    for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
        Brand.append(i.text)
    time.sleep(3)
        
print(len(Brand))

120

In [6]:
Product_Description=[]

for i in range(start,end):
    for i in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
        Product_Description.append(i.text)
    time.sleep(3)
        
print(len(Product_Description))

105

In [7]:
Price=[]

for i in range(start,end):
    for i in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
        Price.append(i.text)
    time.sleep(3)
        
print(len(Price))

120

In [8]:
# data frame
df6=pd.DataFrame({'Brand_Name':Brand[0:100],'Product_Description':Product_Description[0:100],'Price':Price[0:100]})

In [9]:
df6

     Brand_Name                                Product_Description   Price
0      RapidBox  Mesh | Ultralightweight | Comfortable | Breath...    ₹610
1      RapidBox                                 Sneakers For Women    ₹640
2          aadi             Puma Smash Wns v2 L Sneakers For Women    ₹374
3     Deals4you                              supr Sneakers For Men    ₹373
4          PUMA  Super Stylish & Trendy Combo Pack of 02 Pairs ...  ₹1,542
..          ...                                                ...     ...
95  Scull Wings  Casual Sneakers Black Outdoor Shoes For Boys A...    ₹549
96         PUMA  DEMON High-top casual shoe with Flat outsole h...  ₹2,115
97      Numenzo                           Caracal Sneakers For Men    ₹449
98    Deals4you     White Sneaker For Men's/Boy's Sneakers For Men    ₹479
99    Old Skool  Luxury Branded Fashionable Men's Casual Walkin...  ₹1,599

[100 rows x 3 columns]

Q7.
Go to the link - https://www.myntra.com/shoes.Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By 
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Edge("msedgedriver.exe")
driver.get("https://www.myntra.com")

In [3]:
#search content
search=driver.find_element(By.XPATH,'//input[@placeholder="Search for products, brands and more"]')
search.send_keys("shoes")

#Query search
find=driver.find_element(By.XPATH,'//*[@id="desktop-header-cnt"]/div[2]/div[3]/a')
find.click()

In [5]:
#filter color
filter_color=driver.find_element(By.XPATH,'//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
filter_color.click()

In [6]:
#filter price
filter_price=driver.find_element(By.XPATH,'//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
filter_price.click()

In [7]:
#checking urls

url_tag=driver.find_elements(By.XPATH,'//a[@target="_blank"]')
url_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="01ea2abe02f097ed8ed16f6a0ad85a20", element="c6fc27a3-e04d-404a-b240-53e0ffb9309d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01ea2abe02f097ed8ed16f6a0ad85a20", element="b50d5043-2e0c-4d2f-a753-ab32774ab31c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01ea2abe02f097ed8ed16f6a0ad85a20", element="af37be68-6d2e-4a9c-a061-2998541d254f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01ea2abe02f097ed8ed16f6a0ad85a20", element="725bf476-e78c-406e-a3b7-0818273ad16a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01ea2abe02f097ed8ed16f6a0ad85a20", element="633c3a82-9379-4ec2-80d6-baab08927384")>]

In [8]:
url_next=driver.find_elements(By.XPATH,'//link[@rel="next"]')
url_next[0:5]

In [9]:
Company_Brand=[]
Shoe_Discription=[]
Shoe_price=[]

start=0
end=3
for i in range(start,end):
    for i in driver.find_elements(By.XPATH,'//h3[@class="product-brand"]'):
        Company_Brand.append(i.text)

    time.sleep(3)

for i in range(start,end):
    for i in driver.find_elements(By.XPATH,'//h4[@class="product-product"]'):
        Shoe_Discription.append(i.text)
    
    time.sleep(3)

for i in range(start,end):
    for i in driver.find_elements(By.XPATH,'//div[@class="product-price"]'):
        Shoe_price.append(i.text)
    time.sleep(3)

In [10]:
print(len(Company_Brand),len(Shoe_Discription),len(Shoe_price))

150 150 150

In [11]:
df7=pd.DataFrame({'Company_Brand':Company_Brand[0:100],'Shoe_Discription':Shoe_Discription[0:100],'Shoe_price':Shoe_price[0:100]})

In [12]:
df7

,Company_Brand,Shoe_Discription,Shoe_price
0,Nike,Men ZOOM WINFLO8 Running Shoes,Rs. 7050Rs. 8295(15% OFF)
1,Skechers,Men Max Cushioning Running,Rs. 7199Rs. 8999(20% OFF)
2,Nike,Men React Infinity 3 Running,Rs. 10496Rs. 13995(25% OFF)
3,Nike,Men JORDAN LOW Basketball Shoe,Rs. 10875Rs. 12795(15% OFF)
4,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 7649Rs. 8999(15% OFF)
...,...,...,...
95,ADIDAS Originals,Men Retropy F90 Sneakers,Rs. 9999
96,ADIDAS,Men Adizero Adios 7 Running,Rs. 9599Rs. 11999(20% OFF)
97,Puma,Men Fast-Trac Nitro Running,Rs. 8799Rs. 10999(20% OFF)
98,ROSSO BRUNELLO,Men Textured Leather Loafers,Rs. 11499
99,ROSSO BRUNELLO,Men Printed Leather Monks,Rs. 12999

Q8: Go to webpage https://www.amazon.in/.Enter “Laptop” in the search field and then click the search icon.

Then set CPU Type filter to “Intel Core i7” as shown in the below image: After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")

In [2]:
#calling driver
driver=webdriver.Edge(r"msedgedriver.exe")

#moving to website
driver.get("https://www.amazon.in/")

In [3]:
# search
search=driver.find_element(By.XPATH,'//input[@type="text"]')
search.send_keys("Laptop")

In [4]:
# procced with search
find_search=driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
find_search.click()

In [5]:
#filter
i7_filter=driver.find_element(By.XPATH,'//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
i7_filter.click()

In [7]:
#empty list
Title=[]
Rating_by=[]
Price=[]

for i in driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')[0:10]:
    Title.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')[0:10]:
    Price.append(i.text)

In [8]:
for i in driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')[0:10]:
    Rating_by.append(i.text)

In [9]:
print(Rating_by)

['23', '25', '19', '1', '23', '26', '16', '1', '16', '4']

In [10]:
print(len(Title),len(Rating_by),len(Price))

10 10 10

In [12]:
df8=pd.DataFrame({"Laptop_Name":Title,"Ratings":Rating_by,"Price":Price})

In [13]:
df8

                                         Laptop_Name Ratings   Price
0  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...      23  62,990
1  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...      25  56,590
2  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...      19  89,990
3  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...       1  81,990
4  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...      23  82,400
5  Samsung Galaxy Book2 Intel 12th Gen core i7 39...      26  79,490
6  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...      16  87,990
7  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...       1  43,198
8  (Renewed) Dell Latitude E7470 Intel Core i7 6t...      16  38,705
9  MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Le...       4  59,990

Q9: 
Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:
    
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")

In [2]:
#loading driver and fetching website
driver=webdriver.Edge("msedgedriver.exe")
driver.get(" https://www.ambitionbox.com/")

In [3]:
#job title
job_title=driver.find_element(By.CLASS_NAME,"navItemLink")
job_title.click()

#searching
search=driver.find_element(By.XPATH,'//*[@id="jobs-typeahead"]/span/input')
search.send_keys("Data Scientist")

#placing query
find_search=driver.find_element(By.XPATH,'//*[@id="jobs"]/div[2]/div[1]/div[1]/div/div/div/button')
find_search.click()

In [4]:
#seting pointer location
loc_pointer=driver.find_element(By.XPATH,'//*[@id="filters-row"]/div/div/div[2]/div[1]/i')
loc_pointer.click()

#insert search
enter_loc=driver.find_element(By.XPATH,'//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input')
enter_loc.send_keys("Noida")

In [5]:
#searching
select_loc=driver.find_element(By.XPATH,'//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select_loc.click()

In [6]:
#fetching jobs
Job_title=[]
for i in driver.find_elements(By.XPATH,'//div[@class="info"]//h2'):
    Job_title.append(i.text)
print(Job_title)

['Hiring Data Scientist #productbasecompany #CBRE', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Associate Manager - Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist - Noida/Bangalore', 'EY - Data Engineer - Data Integration/Modeling (3-8 yrs)', 'Data Scientist Intern']

In [7]:
#fetching company names
company_name=[]
for i in driver.find_elements(By.XPATH,'//div[@class="company-info"]//p')[2:]:
    company_name.append(i.text.strip())
print(company_name)

['CBRE South Asia Pvt Ltd', 'Ericsson India Global Services Pvt. Ltd.', 'GENPACT India Private Limited', 'Optum Global Solutions (India) Private Limited', 'Optum Global Solutions (India) Private Limited', 'Ericsson India Global Services Pvt. Ltd.', 'SOPRA STERIA INDIA LIMITED', 'EXL Services.com ( I ) Pvt. Ltd.', 'EY', 'CARE HEALTH INSURANCE LIMITED']

In [9]:
#fetch ratings
company_rate=[]
for i in driver.find_elements(By.XPATH,'//div[@class="rating-wrapper"]')[4:]:
    company_rate.append((i.text).replace("\n",""))
print(company_rate)

['4.3(2.3k Reviews)', '4.3(5.3k Reviews)', '4.0(19.9k Reviews)', '4.1(1.9k Reviews)', '4.1(1.9k Reviews)', '4.3(5.3k Reviews)', '4.2(1.1k Reviews)', '3.9(5.1k Reviews)', '3.8(7.1k Reviews)', '4.0(911 Reviews)']

In [10]:
#fetching experience,salary,location,role
Experience=[]
for i in driver.find_elements(By.XPATH,'//div[@class="other-info"]//p'):
    Experience.append(i.text.strip())
    
print(len(Experience),Experience)

38 ['5-9 Yrs', '₹ 10-20 LPA', 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida', 'python, data science, advanced excel +1 more', '4-12 Yrs', 'Not Disclosed', 'Noida', 'CRM, HTML, microsoft +7 more', '6-10 Yrs', 'Not Disclosed', 'Ghaziabad, Gurgaon/Gurugram, Noida', 'python, Artificial Intelligence, data scientist +1 more', '5-10 Yrs', 'Not Disclosed', 'Noida', 'SAS, Power BI, Spark SQL +11 more', '8-13 Yrs', 'Not Disclosed', 'Noida', 'Azure Synapse, Azure Data Factory, Synapse +8 more', '8-12 Yrs', 'Not Disclosed', 'Noida', 'CRM, HTML, microsoft +7 more', '4-5 Yrs', 'Not Disclosed', 'Chennai, Bengaluru/Bangalore, Noida', 'python, machine learning, sql', '5-10 Yrs', 'Not Disclosed', 'Bengaluru/Bangalore, Noida', 'nlp, Artificial Intelligence, Django +3 more', '3-8 Yrs', 'Pune, Bengaluru/Bangalore, Hyderabad/Secunderabad +2 more', 'Data Analytics, Analytics, Predictive Analytics +7 more', '₹ 0.5-0.5 LPA', 'Faridabad, Delhi NCR, Gurgaon/Gurugram +1 more', 'algorithms, python, Data Analysis +2 more']

In [12]:
#seperating experience
Exp=[]
for i in range(0,len(Experience),4)[0:9]:
    Exp.append(Experience[i])
Exp.append("NAN")
print(len(Exp),"/n",Exp)

10 /n ['5-9 Yrs', '4-12 Yrs', '6-10 Yrs', '5-10 Yrs', '8-13 Yrs', '8-12 Yrs', '4-5 Yrs', '5-10 Yrs', '3-8 Yrs', 'NAN']

In [13]:
# sheeking skills

skill=[]
for i in range(3,len(Experience),4)[0:8]:
    skill.append(Experience[i])
    
for i in range(34,len(Experience),3):
    skill.append(Experience[i])
print("Length",len(skill),"/n",skill)

Length 10 /n ['python, data science, advanced excel +1 more', 'CRM, HTML, microsoft +7 more', 'python, Artificial Intelligence, data scientist +1 more', 'SAS, Power BI, Spark SQL +11 more', 'Azure Synapse, Azure Data Factory, Synapse +8 more', 'CRM, HTML, microsoft +7 more', 'python, machine learning, sql', 'nlp, Artificial Intelligence, Django +3 more', 'Data Analytics, Analytics, Predictive Analytics +7 more', 'algorithms, python, Data Analysis +2 more']

In [14]:
df9=pd.DataFrame({"Company_Name":company_name,"Jobs":Job_title,"Ratings":company_rate,"Experience":Exp,"Skill":skill})

In [15]:
df9

,Company_Name,Jobs,Ratings,Experience,Skill
0,CBRE South Asia Pvt Ltd,Hiring Data Scientist #productbasecompany #CBRE,4.3(2.3k Reviews),5-9 Yrs,"python, data science, advanced excel +1 more"
1,Ericsson India Global Services Pvt. Ltd.,Data Scientist,4.3(5.3k Reviews),4-12 Yrs,"CRM, HTML, microsoft +7 more"
2,GENPACT India Private Limited,Data Scientist,4.0(19.9k Reviews),6-10 Yrs,"python, Artificial Intelligence, data scientis..."
3,Optum Global Solutions (India) Private Limited,Data Scientist,4.1(1.9k Reviews),5-10 Yrs,"SAS, Power BI, Spark SQL +11 more"
4,Optum Global Solutions (India) Private Limited,Associate Manager - Data Scientist,4.1(1.9k Reviews),8-13 Yrs,"Azure Synapse, Azure Data Factory, Synapse +8 ..."
5,Ericsson India Global Services Pvt. Ltd.,Data Scientist,4.3(5.3k Reviews),8-12 Yrs,"CRM, HTML, microsoft +7 more"
6,SOPRA STERIA INDIA LIMITED,Data Scientist,4.2(1.1k Reviews),4-5 Yrs,"python, machine learning, sql"
7,EXL Services.com ( I ) Pvt. Ltd.,Data Scientist - Noida/Bangalore,3.9(5.1k Reviews),5-10 Yrs,"nlp, Artificial Intelligence, Django +3 more"
8,EY,EY - Data Engineer - Data Integration/Modeling...,3.8(7.1k Reviews),3-8 Yrs,"Data Analytics, Analytics, Predictive Analytic..."
9,CARE HEALTH INSURANCE LIMITED,Data Scientist Intern,4.0(911 Reviews),NAN,"algorithms, python, Data Analysis +2 more"

Q10:

Write a python program to scrape the salary data for Data Scientist designation.You have to scrape 
Company name,
Number of salaries,
Average salary
Minsalary
Max Salary.

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import time
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Edge("msedgedriver.exe")
driver.get("https://www.ambitionbox.com")

In [3]:
salaries=driver.find_element(By.XPATH,'//*[@id="headerWrapper"]/nav[2]/div/ul/li[3]/a')
salaries.click()

browse_salary=driver.find_element(By.XPATH,'//a[@title="Browse salaries"]')
browse_salary.click()

In [4]:
Search_Job=driver.find_element(By.XPATH,'//input[@type="searchbox"]')
Search_Job.send_keys("Data Scientist")

In [5]:
# Name Of Comapany
Company_Name=[]
for i in driver.find_elements(By.XPATH,'//div[@class="company-info"]//a'):
    Company_Name.append((i.text).replace("\nData Scientist Salary",""))
    
#Job post
Job_Post=[]
for i in driver.find_elements(By.XPATH,'//span[@class="jp"]'):
    Job_Post.append(i.text)

#job experience
Job_Exp=[]
for i in driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]'):
    Job_Exp.append(i.text)

In [6]:
#Number of salaries
Average_Salary=[]
for i in driver.find_elements(By.XPATH,'//div[@class="average-indicator-wrapper"]'):
    Average_Salary.append(i.text.strip())   

#Minimum and maximum salary reported
Min_Max_Salary=[]
for i in driver.find_elements(By.XPATH,'//div[@class="value body-medium"]'):
    Min_Max_Salary.append(i.text.strip())

#Minimum Salary
Min_Salary=[]
for i in range(0,len(Min_Max_Salary),2):
    Min_Salary.append(Min_Max_Salary[i])

#MAximum Salary
Max_Salary=[]
for i in range(1,len(Min_Max_Salary),2):
    Max_Salary.append(Min_Max_Salary[i])

In [7]:
print(len(Company_Name),len(Job_Exp),len(Job_Post),len(Average_Salary),len(Min_Salary),len(Max_Salary))

10 10 10 10 10 10

In [8]:
# data Frame
df10=pd.DataFrame({"Company_Name":Company_Name,"Job_Exp":Job_Exp,'Job_Post':Job_Post,"Average_Salary":Average_Salary,"Minimum":Min_Salary,"Maximum":Max_Salary})

In [9]:
df10

,Company_Name,Job_Exp,Job_Post,Average_Salary,Minimum,Maximum
0,Walmart,3-4 yrs experience (based on 22 salaries),Data Scientist Salary,₹ 31.7L,₹ 25.0L,₹ 45.0L
1,Ab Inbev,2-4 yrs experience (based on 53 salaries),Data Scientist Salary,₹ 19.7L,₹ 15.0L,₹ 25.5L
2,Optum,2-4 yrs experience (based on 48 salaries),Data Scientist Salary,₹ 16.5L,₹ 11.0L,₹ 22.6L
3,ZS,1-2 yrs experience (based on 33 salaries),Data Scientist Salary,₹ 15.7L,₹ 11.0L,₹ 22.0L
4,Fractal Analytics,2-4 yrs experience (based on 109 salaries),Data Scientist Salary,₹ 15.2L,₹ 9.0L,₹ 23.0L
5,Tiger Analytics,2-4 yrs experience (based on 65 salaries),Data Scientist Salary,₹ 14.7L,₹ 9.0L,₹ 20.0L
6,Legato Health Technologies,4 yrs experience (based on 11 salaries),Data Scientist Salary,₹ 14.5L,₹ 11.0L,₹ 20.0L
7,Tredence,3 yrs experience (based on 12 salaries),Data Scientist Salary,₹ 14.1L,₹ 8.8L,₹ 17.5L
8,UnitedHealth,2-4 yrs experience (based on 91 salaries),Data Scientist Salary,₹ 13.6L,₹ 8.0L,₹ 20.5L
9,Ford Motor,3-4 yrs experience (based on 21 salaries),Data Scientist Salary,₹ 13.5L,₹ 10.0L,₹ 18.0L

---------------------------------------------------

-----------------------------------------